[2014-08-20 00:28] mbohun opened #1 "Include Occurrence Count in the List Item details"
*migrated from:* https://code.google.com/p/ala/issues/detail?id=248
*date:* Wed Aug 21 19:02:28 2013
*author:* natasha....@csiro.au
 ---

Add an extra column to the list items details table to have the dynamic content of the number of occurrence records for the species.

This will require extra WS calls to biocache - potentially performed as AJAX calls.

[2014-08-20 00:28] nickdos opened #2 "Species List: consolidate URL patterns /listAuth and /list"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=382
_date:_ Sun Nov 24 18:02:52 2013
_author:_ nickdos

---

Logged in user wants to share a link to a list with someone so they copy & paste the URL to the list in an email. E.g. [http://lists.ala.org.au/speciesListItem/listAuth/dr953](http://lists.ala.org.au/speciesListItem/listAuth/dr953). Recipient gets email and clicks on link an

[2014-08-20 00:29] mbohun opened #3 "List tool should use rank and classification when making the match"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=582
_date:_ Wed Feb 12 17:12:09 2014
_author:_ natasha....@csiro.au

---

The list tool needs to be enhanced to use the supplied taxon rank and higher level classification when making a match.

[2014-08-20 00:29] Tasilee opened #4 "Add search to Lists portal"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=655
_date:_ Mon Apr 28 22:21:10 2014
_author:_ leebel...@gmail.com

---

The Lists are growing (currently 229) and therefore increasingly difficult to locate. There is a need for a free-text search across List name and Author.

[2014-08-20 10:13] #4 closed, assigned to djtfmartin

[2014-10-20 22:48] nickdos opened #5 "FF bug: list of taxa is blank for first time visitors"
The option to choose a grid or list view stores a cookie and in FF when no cookie is yet set, the list is blank. So the list should show a default type (list type) when no cookie is set.

This doesn't affect Chrome (I think) so the JS might not be working for FF(?).

[2014-10-26 22:26] nickdos opened #6 "Blank (space) CSV record causes upload to fail silently"
If a CSV upload contains a record with just white space in it, then the upload fails silently.

E.g.

`Macropus rufus,Animalia,,,12, ,foo`

The second last record will trigger the issue: `, ,`.

Fix is to trim white space off records.

[2014-11-14 04:11] nickdos opened #7 "List marked as isPrivate = true still public"
Should this list attribute make the list only visible to owner and editors?

If fixed, then this option should also appear on the upload form  (above "include in BIE).

[2014-11-14 04:25] nickdos opened #8 "webservice speciesListItems should include KVP data"
`/ws/speciesListItems/{dataResourceUid}`

service only provides id, name and guid fields.

Add ability to include all KVP data in JSON output (via param or another URL mapping).

[2014-11-14 04:26] nickdos opened #9 "API for creating lists to include KVP data"
Currently the API does not allow this:

Create new API or improve existing one to allow KVP data to be included.

[2014-11-16 23:17] Tasilee opened #10 "Sorting Lists by Owner and List Type not working properly"
Sorting by owner firstname is ok, but the list isn't sorted correctly. Related: Can we/should we have lists with no Owner?

Same problem with sorting by List Type

[2014-11-17 00:27] Tasilee opened #11 "Authoritative List owner should be authorities: The List Process"
So it is on the books: This was sent 20/12/2103 to John L, Peter D, Dave M, Natasha. The email related to a request from Natasha about List that should be 'Facets', but the Owner issue was raised and remains as relevant now-

"... At the moment, some lists are really valuable but the owner has not been formally recognised and tasked with list maintenance. In many cases, the List creator is not the

[2014-12-16 22:50] m-r-c opened #13 "Missing default state when list first loads"
This results in displaying nothing - no list or grid

[2014-12-17 22:42] #5 closed, assigned to m-r-c

[2014-12-18 05:36] m-r-c opened #14 "Search function to match on scientific and common names in lists"
Reviving this issue... basic user story is:

Currently this is only possible via the web service https://api.ala.org.au/#ws93.

Search must find lists that match any of:
- supplied name
- matched scientific name
- matched GUID
- matched common name

Optional feature - add a link from species pages, to the result set for matched name search (create bie-plugin issue if this issue is fixed).

~Implem

[2014-12-19 05:37] #13 closed, assigned to m-r-c

[2014-12-19 05:37] #11 closed, assigned to m-r-c

[2014-12-19 05:38] #9 closed, assigned to m-r-c

[2014-12-19 05:38] #8 closed, assigned to m-r-c

[2014-12-19 05:38] #6 closed, assigned to m-r-c

[2014-12-19 05:38] #10 closed, assigned to m-r-c

[2014-12-19 07:02] m-r-c opened #16 "'My Lists' does not show lists that you do not own but can edit"

[2014-12-19 07:02] #7 closed, assigned to m-r-c

[2015-01-05 02:34] m-r-c commented on #16
Fixed

[2015-01-05 02:34] #16 closed

[2015-01-05 02:36] m-r-c opened #17 "Add support for creating lists using a CSV file upload"

[2015-01-06 01:47] m-r-c commented on #17
Done

[2015-01-06 01:47] #17 closed

[2015-01-06 04:44] #2 closed, assigned to m-r-c

[2015-01-12 02:35] djtfmartin opened #20 "Minor UI - remove space from upload form input"
![screen shot 2015-01-12 at 1 23 43 pm](https://cloud.githubusercontent.com/assets/444897/5698344/cadb7b44-9a5f-11e4-8efe-118674a1f29a.png)

[2015-01-15 05:25] Tasilee opened #21 "Items/page not working with 'Unrecognised taxa' subset"
If I go to the mangrove list of Norm Duke, then change 'Items per page' to 100, then click on 'Unrecognised taxa' (37), the list goes back to 10 items/page.

Also, if I go to the mangrove list, click on 'Unrecognised taxa' and then change items/page to say 50, the list will revert to the complete list and NOT 'Unrecognised taxa'.

[2015-01-20 03:30] nickdos opened #22 "Speices list "View occurrence record" broken for dr487"
_From @djtfmartin on August 19, 2014 11:40_

*migrated from:* https://code.google.com/p/ala/issues/detail?id=258
*date:* Wed Sep  4 21:08:11 2013
*author:* moyesyside
 ---

[http://lists.ala.org.au/speciesListItem/listAuth/dr487](http://lists.ala.org.au/speciesListItem/listAuth/dr487)

click "View occurrence record"

Get

Error 500: Internal Server Error

_Copied from original issue: AtlasOfLiving

[2015-01-20 03:30] nickdos commented on #22
_From @mbohun on August 19, 2014 11:40_

*date:* Wed Sep  4 23:43:04 2013
*author:* natasha....@csiro.au
 ---

This is a bug with the biocache-service it is not handling lsid:"ALA_Amytornis_textilis_modestus" correctly:

See [http://biocache.ala.org.au/occurrences/search?q=lsid:%22ALA_Amytornis_textilis_modestus%22](http://biocache.ala.org.au/occurrences/search?q=lsid:%22ALA_Amytornis_textilis_mod

[2015-01-20 03:30] nickdos commented on #22
_From @djtfmartin on August 19, 2014 11:40_

*date:* Wed Sep  4 23:43:57 2013
*author:* moyesyside
 ---

sounds fine to me

[2015-01-20 03:30] nickdos commented on #22
_From @mbohun on August 19, 2014 11:40_

*date:* Wed Sep  4 23:51:19 2013
*author:* natasha....@csiro.au
 ---

Changes committed to list tool. Issue to remain open until fixed in biocache-service.

[2015-01-20 03:30] nickdos commented on #22
_From @djtfmartin on August 19, 2014 11:40_

*date:* Tue Oct  1 21:16:02 2013
*author:* moyesyside
 ---

fixed?

[2015-01-20 03:30] nickdos commented on #22
_From @mbohun on August 19, 2014 11:41_

*date:* Wed Oct  2 15:59:38 2013
*author:* natasha....@csiro.au
 ---

Fixed on dev:
[http://biocache-test.ala.org.au/ws/occurrences/search?q=lsid:%22ALA_Amytornis_textilis_modestus%22&facet=off](http://biocache-test.ala.org.au/ws/occurrences/search?q=lsid:%22ALA_Amytornis_textilis_modestus%22&facet=off)

Just need to release to production.

 ---
**UPDATES:*

[2015-01-20 03:30] nickdos commented on #22
Prod list tool is now throwing a different Grails error - moving to list tool issues.

[2015-02-23 00:55] temi opened #23 "List CSV Upload UI does not recognise header row"
While uploading list from CSV file, list tool only recognises header row when it matches known vocabulary term like 'scientific name'. It is useful to ignore this check from PhyloLink perspective since first row will always be header value and might not have know vocabulary name in it.

[2015-03-01 12:37] temi opened #24 "check data button returns error"
I uploaded a csv file and clicked check data button. it returned the following error.
[code]

[2015-03-04 22:04] m-r-c commented on #24
This was fixed a while ago but never got deployed.

A new version was released yesterday, so it should be ok now. Please retest.

[2015-03-10 00:57] nickdos opened #26 ""grid" view should persist between requests"
Clicking through pagination or facet links, results in the user always getting the "list" view". The app should remember the user's preference and keep presenting the user the grid or list view for all requests.

[2015-03-11 22:25] Tasilee opened #27 "Some List parameters are not sorting correctly"
(admin access)

Set 'items/page' = 100  (an 'All' setting would be hendy here)
I expect clicking on header item would toggle Sort A-Z with Z-A but this doesn't happen as far as I can tell.

E.g.,

Clicking on 'List type' - top of list is "test list" when I would expect "checklist for local"
Clicking on 'List type' again - I get "species with a common habitat"

Authoritative works as expected

Owne

[2015-03-12 00:30] temi commented on #24
It is working. thanks!

[2015-03-12 00:30] #24 closed

[2015-03-12 00:33] temi opened #28 "internal server error on clicking view in spatial portal & view occurrence records"
I am getting the following error when i click view in spatial portal and view occurrence records.
[code]

[code]

[2015-03-12 01:38] #28 closed

[2015-03-12 01:54] m-r-c commented on #28
This was caused by a slow response from Biocache Service. The list tool had a timeout of 5 seconds, and did not handle the failure gracefully.
I have added a configurable timeout (with a default of 60 seconds), and improved the error handling.

[2015-03-12 01:54] m-r-c commented on #20
Fixed in version 0.5

[2015-03-12 01:54] #20 closed

[2015-03-12 02:04] #26 closed

[2015-03-12 02:05] m-r-c commented on #26
Fixed in v0.6

[2015-03-26 00:27] temi opened #29 "integration with phylolink"
Adding two webservices can make integration with phylolink faster.

* to get a list of keys. web service response in JSON.

input:
[code]

output:
[code]

* to get the key value pairs for a list of keys. web service response in csv.

input:
[code]

output
[code]

[2015-03-30 22:45] #29 closed

[2015-03-30 22:49] djtfmartin commented on #22
Seems to be working. closing.

[2015-03-30 22:49] #22 closed

[2015-03-31 00:28] m-r-c commented on #29
The new services are:
- /ws/speciesListItems/keys?druid=[comma-separated list of druids]
- /ws/speciesListItems/byKeys?druid=[comma-separated list of druids]&keys=[comma-separated list of keys]&format=[json | csv]

[2015-04-13 00:52] Tasilee opened #33 "Add link to user profile in List information"
When I'm trying to figure if a list may be 'Authoritative', it would be very useful to have a link against the list owner that takes you to the user profile. This is helpful to know who the person is, their organization and their contact details.

This may also be a useful prompt to users to update their profile.

![capture_3](https://cloud.githubusercontent.com/assets/6656350/7108481/11f52112-e1c

[2015-04-27 00:45] M-Nicholls opened #34 "include file extension when downloading the species list"
lists currently download without a file extension, they should have ".csv" for the species list

[2015-05-14 06:18] nickdos opened #36 "Regular users assigned as editors can not edit"
Looks like something has changed to break this. I'm guessing that the list of editors is storing a list of IDs and not email addresses (code expects)...

[2015-05-14 06:20] nickdos commented on #36
[code]
4th line is culprit

[2015-05-15 03:31] #36 closed

[2015-07-30 10:51] nickdos opened #37 "webservices to support facetting"
E.g. http://lists.ala.org.au/ws/speciesListItems/dr781

should also return data for facets seen on web page:

http://lists.ala.org.au/speciesListItem/list/dr781

and support pagination and filtering, e.g.

http://lists.ala.org.au/speciesListItem/list/dr781

[2015-08-06 03:56] nickdos commented on #37
Fixed in commit ded73af

[2015-08-27 07:23] nickdos opened #40 "Pagination/sorting issues in list"
Bug reported by user:

Dear support team,
I tried to use your database today and ran into a few issues. This is for the Census of Queensland Flora 2013, Vascular plants.
Firstly, when I selected ferns, I got an error page. (At bottom of email)
http://lists.ala.org.au/speciesListItem/list/dr891?fq=kvp%20Phylum:Ferns%20&%20Allies
It looks like an SQL formatting issue and consequent dump to me, and I

[2016-02-12 03:00] M-Nicholls opened #42 "recognise hyperlinks in content"
Hyperlinks just show up as text.  e.g. http://www.biodiversitylibrary.org/item/8368#page/41  should be an active hyperlink.  current workaround is to format content into HTML but that's not a good solution and requires additional knowledge to do.

[2016-02-23 04:27] Tasilee commented on #40
The inability to sort on at least a few key columns in large lists is a problem. The ordering of species in the list is effectively random (as far as the user is concerned). Using Genus in Refine doesn't help as that list isn't sorted alpha. Suggest the ability to be able to sort on at least Scientific name and Author.

[2016-05-03 23:30] temi opened #44 "implement searching for supplied name, scientific name or common name on species list item"
This is done in relation to AtlasOfLivingAustralia/biocollect#506

[2016-05-10 00:59] temi commented on #44
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-1

[2016-05-16 00:30] temi opened #46 "Admin - rematch all failing with bad gateway message"

[2016-05-16 02:01] temi commented on #46
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-2

[2016-05-17 00:44] temi commented on #37
nick says, previously intended for MDBA but got around it. It is not needed anymore.

[2016-05-17 00:44] #37 closed

[2016-05-17 02:27] sat01a commented on #34
@temi Can you pls add upsource url?

[2016-05-17 02:28] sat01a commented on #27
@temi Can you pls add upsource url?

[2016-05-17 02:28] sat01a commented on #40
@temi Can you pls add upsource url?

[2016-05-17 02:38] temi commented on #34
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-3

[2016-05-17 02:38] temi commented on #27
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-4

[2016-05-17 02:38] temi commented on #40
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-4

[2016-05-17 04:31] temi opened #48 "public species list - sorting on result of search query returns the whole list i.e. ignores search query"
expected
http://lists.ala.org.au/public/speciesLists?sort=listType&max=25&order=asc&q=test

actual
http://lists.ala.org.au/public/speciesLists?sort=listType&max=25&order=asc

[2016-05-17 04:54] #44 closed

[2016-05-17 04:54] temi opened #49 "Investigate ways to reduce species list download size for certain quantitative lists"
Certain lists like mammal traits given below, takes a lot of time to download and render. The example list is approximately 33 MB in size. This is because it has a lot of KVP and the page lists all possible facet combinations - click 'choose more' on a facet.

Is listing all facet terms needed? Or, can we have a facet limit like Biocache webservices? Facet limit will reduce the size of the page.

[2016-05-17 05:01] #46 closed

[2016-05-17 05:41] temi commented on #48
https://upsource.ala.org.au/specieslist-webapp/revision/1108c439517e82c72fa7fd9def546f7d09da1b85

[2016-05-17 05:50] #34 closed

[2016-05-20 00:39] #48 closed

[2016-05-20 02:25] #27 closed

[2016-05-20 02:25] #40 closed

[2016-06-23 03:15] M-Nicholls opened #50 "lists upload to parse camel case headers"
currently lists tool shows headers exactly as loaded:

e.g. BreedingHabitatTemperateWetSclerophyllForestAndWoodland
should parse as
Breeding Habitat Temperate Wet Sclerophyll Forest And Woodland

[2016-08-03 23:22] pbrenton opened #51 "Edit list items broken since BIE upgrade"
Select "edit list item"
Modal opens with spinner in endless loop.

[2016-08-16 01:46] ben3000 commented on #23
Do you have an example of PhyloLink output, and what should it do instead?

[2016-08-16 01:48] ben3000 commented on #50
What should happen if the header column name is e.g. occurrenceStatus? Would you prefer that these were left as-is?

[2016-08-16 03:14] temi commented on #23
@ben3000 Phylolink does not require this feature anymore. It can be closed.

[2016-08-16 03:51] ben3000 commented on #23
So it is safe to assume that if no matching species name column can be found, that the tool does not process the incoming data?

[2016-08-16 03:56] temi commented on #23
Yes, lists tool requires species name column.

[2016-08-16 03:58] #23 closed

[2016-08-19 05:45] #50 closed

[2016-08-19 06:30] ben3000 commented on #50
See https://github.com/AtlasOfLivingAustralia/specieslist-webapp/commit/4f61e4ad879cb2b0b3429ba10e2180c73d97b386.

[2016-08-19 06:31] ben3000 commented on #23
See https://github.com/AtlasOfLivingAustralia/specieslist-webapp/commit/a546442c1b51299e3fe307d8d4a09fdd39a5b8ff.

[2016-08-19 06:31] #51 closed

[2016-08-19 06:31] ben3000 commented on #51
See https://github.com/AtlasOfLivingAustralia/specieslist-webapp/commit/045050b2554e80629463436099a178f4f609e2dc.

[2016-08-19 06:56] nickdos opened #52 "Allow linking to a species "view" on a list page"
E.g. http://lists.ala.org.au/speciesListItem/list/dr490#Borya+mirabilis

should open the species list page and display the modal popup, as if the user had clicked the "info" icon next to `Borya mirabilis`.

![image](https://cloud.githubusercontent.com/assets/532845/17801485/caacd78a-662d-11e6-95bd-d181206894be.png)

[2016-08-19 07:03] ben3000 commented on #42
Should I wrap the URL in a phishing checker link, just in case we get dodgy links?

[2016-08-25 06:06] #42 closed

[2016-09-01 01:46] ben3000 commented on #52
Is it necessary that this is done as a pop-up modal?

[2016-09-01 01:55] nickdos commented on #52
The functionality is already there, implemented as a popup... this issue is to trigger it via URL hash detection.

[2016-09-01 02:12] nickdos commented on #52
I'd rather not re-implement existing functionality if at all possible... if there is a compelling reason to do it some other way, then I'm open to it.

[2016-09-01 02:22] ben3000 commented on #52
OK

[2016-09-01 04:39] #21 closed

[2016-09-02 03:03] ben3000 commented on #49
How does the Biocache decide which facets to display? Should this app do it the same way as Biocache?

[2016-09-02 03:05] ben3000 commented on #49
Listing them by their ability to discriminate between items in the list would take it down the path of a key tool like Lucid, KeyBase and DELTA, for example.

[2016-09-02 03:44] temi commented on #49
Lists tool facet tries to behave similar to biocache but does not use the same technology. Biocache uses SOLR, lists tools uses MySql query and some processing. Therefore, list tool is not efficient. I think we should consider using SOLR for querying/searching purposes.

[2016-09-02 03:50] #52 closed

[2016-09-02 08:44] ben3000 opened #54 "Clicking the Download button for a species list a second time causes the popup window to display the wrong content"
Click on a species list, click the download button, close the popup window that appears, click the download button again. The resulting popup window contains a partial load of the species list itself, plus the console lists a number of errors indicating that the page was only partially loaded.

![screenshot from 2016-09-02 16 41 46](https://cloud.githubusercontent.com/assets/1963681/18197907/5efee

[2016-09-13 02:28] #1 closed

[2016-11-04 01:36] nickdos opened #55 "Editing values not working"
E.g. preferred species images

http://lists.ala.org.au/speciesListItem/list/dr4778?&sort=rawScientificName&max=100&offset=0&order=asc

I tried to edit an `imageId` value and it reported it had succesfully saved the change but when I refresh the page, the old value is shown. I also tried to delete the item and then recreate a new entry with the new value and after the page was refreshed it showed t

[2016-11-04 01:52] nickdos commented on #55
User error - images are coming from BIE not via the imageId

[2016-11-04 01:52] #55 closed

[2016-11-28 08:39] nickdos opened #56 "Link to SP fails"
E.g. http://lists.ala.org.au/speciesListItem/list/dr6600

- click the "View occurrence records" button and nothing happens.
- click the "View in spatial portal" button and you get an error page with "Unable to view occurrences records. Please let us know if this error persists.".

[2016-11-28 22:02] Tasilee opened #57 "Suggest horizontal scroll-bar at top of list"
When viewing lists, you uually have the scroll down to find the horizontal scroll bar, at which time the headers are no longer visible. This is a pain as you have to scroll up/down then left left/right to find things.

[2017-03-08 05:32] djtfmartin commented on #54
This is fixed on master with this commit

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/commit/163c9648b9c946f5f788be7bc85a49b85b953b98

The problem was with a bug with a more recent version of jquery when used with fancybox 1.3.4

[2017-03-08 05:32] #54 closed

[2017-03-24 00:20] nickdos opened #58 "UI does not correctly display uploaded data"
The backend supports uploading data containing duplicate "keys" but the UI only shows a single "key", as it assumes a Map structure. Whereas, its actually a list of KVP objects.

E.g. try this upload:

[code]

UI only shows a single value for height but the facets show that both values are being stored in the database.

![image](https://cloud.githubusercontent.com/assets/532845/24275493/df6a3612-1

[2017-04-03 06:10] nickdos opened #59 "Incorrect name matching"
When trying to add a species "Corvus orru" to a list, it creates an entry for "Corvus orru orru".

Would be good to be able to pass in a rank to assist with the match.

Related to #3.

[2017-05-03 00:33] pbrenton opened #60 "Values for common names in upload spreadsheet only upload if they match ALA preferred common name"
Common names should populate with whatever is provided in the upload file.

[Wolli_Creek_bird_list.xlsx](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/972260/Wolli_Creek_bird_list.xlsx)

[2017-06-20 06:31] nickdos opened #61 "Webservices enhancements"
- taxa list (e.g. http://lists.ala.org.au/ws/speciesList/dr7731/taxa), provide param or option to output scientific name instead of GUID
- add API key access to POST webservice of new list, providing userId via header value

[2017-07-21 00:23] nickdos opened #63 "Missing breadcrumb text"
![image](https://user-images.githubusercontent.com/532845/28444176-9b62b45c-6dfe-11e7-86c8-2c963b25a61e.png)

Missing "Species lists" text/link between the `>` icons

[2017-07-26 23:15] nickdos commented on #57
@Tasilee we've added a top scroll bar - does it work for you?

[2017-07-26 23:21] nickdos opened #64 "In-list name search fixes"
The in-list name search, e.g. the "Search by supplied name" search on a list entry, e.g. http://lists.ala.org.au/speciesListItem/list/dr655, appears to perform a POST and the URL loses its REST-style ID. Thus when the user searches the above URL changes to http://lists.ala.org.au/speciesListItem/list#list.

Fix is to keep URLs and use GET requests, if possible.

Bonus feature: allow the search to

[2017-07-27 00:15] RobinaSanderson opened #65 "Search - Search within a species list for a species or trait"
As the administrator of a profiles collection applying a masterlist to my collection
I want to check that a species I am interested in is in the list
So that I can ensure all necessary profiles are available in my collection once the list is applied.

Requirements:
1. When I open a list there is a search box allowing me to search on species name
2. I can enter a name in the box and select search
3

[2017-07-27 01:15] RobinaSanderson opened #66 "Geographic region lists - Automatic update"
As a user of a geographic region list
I want set the system to automatically update my list regularly
So that I don't have regenerate the list manually

Note: the profile collection Flora of Australia uses geographic region (IBRA regions) species lists as filters, this function will mean that the lists supporting the filters can be regularly updated.

Assumptions:
1. the user will need to be logge

[2017-07-27 03:36] RobinaSanderson commented on #66
This issue will be closed. Instead it would be better to have profiles query the biocache to get the species list for each IBRA region and cache for 24 hours.

[2017-07-27 03:36] #66 closed

[2017-07-31 04:23] RobinaSanderson opened #67 "Display updated date"
As a list owner or a list user
I want to know the date a list was last updated
So that I can determine the currency of the list and, if I'm an owner, whether it needs updating.

Requirements:
1. Display the "Date Updated" in the following places:
* On the Species list page, in the table of all lists, as a column after the Date Submitted column
* On the My species lists page, in the table of my lis

[2017-08-07 03:55] temi opened #68 "convert ExecuteQuery to Criteria"
Species list uses executeQuery extensively. In memory database, h2, does not support this function anymore. Convert these usages to Criteria.

[2017-08-11 07:21] nickdos opened #69 "BS3 minor issues"
- [x] Iconic species view, the Birds link in side menu is missing its top border, when it is active, so it looks ok when other items are active.
- [x] speciesListItem page, there is a bigger gap between the breadcrumb and top of content than the current BS2 version, so you could reduce the padding/margin a bit.
- [x] speciesListItem page, the left side of the page doesn't align properly. BS2 versi

[2017-08-27 23:18] #67 closed

[2017-08-27 23:18] #69 closed

[2017-10-15 23:52] adam-collins opened #70 "2.x is missing JSONP support"
Applications that expect 1.x's JSONP fail with 2.x.

e.g. Phylolink https://github.com/AtlasOfLivingAustralia/phylolink/blob/4cbf541bcf9c3b0164d77d787c25b12b11a4a816/web-app/js/PJ.js#L729

[2017-11-07 01:49] pbrenton opened #73 "Gateway timeout on processing lists"
System is throwing a gateway timeout error on list upload, reload, rematch and delete functions.

**List name: SA Flora - updated list**
Using the attached list of species (6912 species)
[Vascular-plants-bdbsa-taxonomy_modified (002).xlsx](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/1448380/Vascular-plants-bdbsa-taxonomy_modified.002.xlsx)

Also had same problem with a list

[2017-11-07 01:55] pbrenton opened #74 "Re-processing lists is causing duplicates"
To reproduce:

1. Select a list
2. Note the number of entries
3. Perform a processing function - eg. Rematch
4. Note the number of entries again - shows increase
5. Perform another function - Reload using same species
6. Note the number of entries again - shows further increase
7. Perform another function - Delete
8. Note the number of entries again - throws gateway timeout error and shows further

[2017-11-08 22:26] ansell opened #75 "StringIndexOutOfBoundsException in constructWithFacets"
See the following stacktrace from the log on bie-b4-a:

[code]

[2017-11-08 22:54] ansell opened #76 "Possible resource leak or MySQL concurrent connection issue"
Both biocache-b4-a and biocache-b4-b, which are behind a load balancer, are showing symptoms of a possible resource leak or a MySQL concurrent connection issue. The symptoms reappeared after a full system restart.

Some stacktraces when it fails looks like:

[code]

[code]

[code]

On restart, the following occurred

[code]

[2017-11-08 23:02] ansell commented on #76
Sorry for the collapsed stacktraces, copied those from elk, which seems to have removed the line endings

[2017-11-09 00:45] ansell commented on #76
Setting useSSL=false in the connection string worked. Candidates for useSSL made a difference are currently

* openssl/libssl unattended-upgrade 24 hours ago
* AWS may have changed their configuration recently on the hosted MySQL instance we recently switched to

A factor that may be related to useSSL=false but not to the issues above (as it occurred after the log entries above) is:
* openjdk/orac

[2017-11-09 02:34] ansell opened #77 "Deprecated positional parameters in queries"
There are a large number of deprecation warnings in the log files relating to the deprecation of positional parameters in queries:

[code]

[2017-11-09 02:38] ansell commented on #76
For avoidance of doubt, the pool exhaustion errors are still happening after "useSSL=false" was added, with the following from an hour ago:

[code]

[2017-11-09 02:41] ansell opened #78 "NullPointerException during SpeciesListItemController.generateFacetValues"
See the following stacktrace from the log files:

[code]

[2017-11-09 02:52] temi commented on #76
@ansell raise timeout to 60 seconds?

[2017-11-09 03:00] ansell commented on #76
I am not sure what steps to take, just collecting the debugging information to improve the lists server availability.

If it is a resource leak, it is possible that some of the 6 connections in the pool are permanently blocked, but difficult to say without taking a heap dump or attaching a debugger.

The log file above is from bie-b4-b if you want to log into now and do some forensics.

Forensics

[2017-11-12 05:32] nickdos opened #79 "Check ehCache config"
Getting message in logs:

`November 11th 2017, 15:02:33.961        /var/log/tomcat7/specieslist-webapp.log 2017-11-11 15:02:33.282  WARN --- [.au-startStop-1] n.s.ehcache.config.ConfigurationFactory  : No configuration found. Configuring ehcache from ehcache-failsafe.xml`

Possible cause is the "default" config settings are not being loaded in Grails 3 version.

[2017-11-14 23:49] ansell commented on #76
This is an example of a stacktrace taken while the lists server was having issues:

[bie-b4-a-connectionpooldebug-stacktraces.txt](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/1472937/bie-b4-a-connectionpooldebug-stacktraces.txt)

The process for generating one of those is to run ps to find the process id:

[code]

Then use the process id in the following (replace "PID" with

[2017-11-15 01:49] ansell commented on #78
Tracked down the issue to ``SpeciesListItemController.generateFacetValues`` but opening up the number of connections to 50 and watching the actively used connections gradually fill up with threads under that path.

[2017-11-15 01:54] ansell commented on #76
Tracked down the issue to ``SpeciesListItemController.generateFacetValues`` by opening up the number of connections to 50 and watching the actively used connections gradually fill up with threads under that path. Could be related to issue #78 but possibly a separate issue

[2017-11-15 03:49] ansell commented on #76
Executed one of the dr651 queries on the mysql command line tool and it took 9 seconds, so there is room for performance improvements:

[code]
[code]

[2017-11-15 04:27] ansell commented on #76
The query examining the most records is:

[code]

[code]

[2017-11-15 04:36] ansell commented on #76
The following query has an embedded count and an embedded concat, and is passing a large number of records:

[code]

[code]

[2018-02-14 00:35] m-hope commented on #61
Now that Profiles is using the List tool to store its master and filter lists, we need a way to manage lists via web services.  The current services only allow a new list to be created, but it would be good if an existing list could be updated (or deleted so a replacement could be created/added).

Note that some permission control would need to be applied so that not just anyone can delete a list

[2018-02-14 00:36] m-hope commented on #61
Note: Parks Australia will be referencing the ALA List tool from their new Marine Park Atlas to retrieve species checklists for all their marine parks.  These lists will also need to be regularly updated.

[2018-02-14 00:47] m-hope commented on #59
There are a number of examples of names within a list not being recognised even though they are a valid name and recognised in the ALA search bar.  Examples include:

- Scoparia dulcis in https://lists.ala.org.au/speciesListItem/list/dr7802
- a large number (164) of genera in https://lists.ala.org.au/speciesListItem/list/dr7709?fq=guid%3Anull

[2018-02-14 00:51] m-hope commented on #59
As the Lists tool is now being used by Profiles (especially the eFlora of Australia), this issue needs to be investigated more urgently.

[2018-02-14 02:53] charvolant commented on #59
Yes, it looks like the parent-child synonym issue. Corvus orru orru has a synonym of Corvus orru because someone has decided that what was originally described as a species is now a subspecies. The ala-name-matching algorithms flag this with a parent-child-synonym exception/indicator in the biocache but its not very helpful when list matching.

Possible solution is to bypass parent-child synonym u

[2018-02-14 02:58] nickdos commented on #59
@charvolant - There are also a bunch of genus names which are not recognised - could you check those as well please (second comment above)?

[2018-02-14 11:28] charvolant commented on #59
I've tried a test:

Acaena creates a homonym exception. We have

* https://bie.ala.org.au/species/http://id.biodiversity.org.au/node/apni/7834306 (what we want)
* https://bie.ala.org.au/species/http://id.biodiversity.org.au/name/apni/71997 (a section recorded in APNI)
* https://bie.ala.org.au/species/http://id.biodiversity.org.au/name/apni/71999 (a subsection in APNI)

More to follow

[2018-02-22 13:21] cjk-halodule opened #85 ""Select file" doesn't work on Firefox Quantum"
On this page:
/specieslists/speciesList/upload
The "Select file" button doesn't bring up file browser in Firefox Quantum.
<img width="917" alt="screen shot 2018-02-22 at 14 20 00" src="https://user-images.githubusercontent.com/31983251/36540645-7cf3f04e-17db-11e8-835c-edd3e6264c5a.png">

It works on Chrome, though.

Firefox Version: 58.0.2 macOS

[2018-04-06 05:57] ansell opened #86 "Logger reasons not cached"
The logger reasons are not currently cached, resulting in a lot of calls between lists and logger that may also be increasing latency for lists calls due to the different locations of lists and logger servers:

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/master/grails-app/services/au/org/ala/specieslist/LoggerService.groovy#L7

[2018-04-06 05:57] ansell opened #87 "Logger URL is hardcoded"
The logger URL is currently hardcoded:

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/master/grails-app/services/au/org/ala/specieslist/LoggerService.groovy#L10

[2018-04-06 06:25] patkyn commented on #79
Adding ehcache.xml in classpath seem to have resolved the warning message in the log.
`<?xml version="1.0" encoding="UTF-8"?>
<ehcache name="specieslist-cache-manager">
    <diskStore path="java.io.tmpdir"/>

    <defaultCache
            maxElementsInMemory="50000"
            eternal="false"
            timeToIdleSeconds="120"
            timeToLiveSeconds="120"
            overflowToDisk="true"

[2018-09-20 03:25] nickdos opened #89 "Iconic species page: cache images from image-service"
The iconic species page at https://lists.ala.org.au/iconic-species is very slow to load the species image thumbnails (up to 20 seconds), which is an issue with AUTH I think. The images rarely change, so I think the app should cache copies of these thumbnails itself to make the page load immediately.

Will require the images to be loaded from image-store and cached via a service.
Provide an admin o

[2018-10-02 01:15] adam-collins opened #91 "ws/speciesList?druid=dr1 no longer returning the one species list"
ws/speciesList returns { ... lists: [{dataResouceUid: dr1, ... }, ... ] ... }

ws/speciesList?druid=dr1 should return only the {dataResouceUid: dr1, ... } part. Unsure when this broke.

e.g. https://github.com/AtlasOfLivingAustralia/spatial-portal/issues/149

[2018-10-02 01:46] adam-collins opened #92 "Validate vocab on threatened species lists"
Threatened species lists must be uploaded with the additional columns 'status' and 'sourceStatus'.

Threatened species lists are uploaded with various 'status' values as indicated below. This must be validated so other applications can use uploaded threatened species lists in a meaningful way. This includes biocache-store, biocache-service, bie, spatial-hub.

Specifically, there must be a webservi

[2018-10-14 23:13] ansell opened #93 "Queries to bie.ala.org.au being performed without a User-Agent"
Queries internally from lists.ala.org.au to bie.ala.org.au are being performed without a ``User-Agent`` in the HTTP headers. This is making it difficult to respond to DDOS attacks which are performed in recent cases without ``User-Agent`` in the headers.

[2018-10-17 01:19] nickdos opened #94 "Table headings not displaying properly"
Reported by Michael:

[2018-10-17 11:41] djtfmartin commented on #94
Fixed and deployed

[2018-10-22 07:27] #91 closed

[2018-10-23 00:43] ansell opened #95 "Support apikeys for queries to rate limit users"
It is very easy to accidentally create a DoS on lists.ala.org.au by accidentally querying too often on fairly complex internal SQL queries. Tracking queries and rate limiting using apikeys could be useful to configurably avoid the DoS issue in future.

[2018-10-30 05:37] nickdos commented on #94
Still seeing this @djtfmartin

![image](https://user-images.githubusercontent.com/532845/47698074-f11dca80-dc61-11e8-9d99-e923fbaf23bd.png)

Version is a SNAPSHOT too - 3.1-SNAPSHOT

[2018-10-30 06:41] sat01a commented on #94
@djtfmartin, please let me know once this fixed. (It's breaking some of BioCollect web and mobile functionalities)

[2018-10-30 12:17] djtfmartin commented on #94
it was a regression - caused by updates on 2 different branches.
Fixed now with 3.1 release

[2018-10-30 12:17] #94 closed

[2019-03-26 00:02] RobinaSanderson opened #98 "Lists - Identify a list as having IEK knowledge"
As an indigenous knowledge holder
I want to identify my  list of IEK data
So that the data can be appropriately displayed

*Background*
This feature will be used to identify which lists of names should appear as Indigenous names on BIE species pages.

This could be done as a list type, if the type is able to be changed after creation. We also need to know if there is going to be a more generic typ

[2019-03-26 02:36] RobinaSanderson opened #99 "Lists - Fields for IEK names list"
As an IEK knowledge holder
I need ALA to capture specific information about each term in a language
So that the IEK terms can be used and displayed within the ALA.

Field definitions are provided on the confluence page in the section titled Field definitions - https://confluence.csiro.au/display/ALASD/Indigenous+language+names+for+plants+and+animals+in+ALA#Indigenouslanguagenamesforplantsandanimal

[2019-03-26 02:56] RobinaSanderson opened #100 "Lists - Automatic update of IEK language name based on AIATSIS language code"
As an indigenous knowledge holder
I want the language name used in the ALA to automatically update when the language name recognised by AIATSIS changes
So that I don't have manually notify the ALA and have the ALA manually update the language name.

Preconditions
* The AIATSIS language codes and associated preferred language names are available in a machine readable source
* AIATSIS is the preferr

[2019-04-01 04:11] Tasilee opened #101 "Sandbox for Lists"
I raised this in my May 2018 report and adding here so it is 'on the books'.

A 'smart' Sandbox for importing species lists with traits. Need 'AI' support to query and display of relevant terms from vocabularies and ontologies to align data with best current practice. Key aspects of this (database) are items name, definition, link up, link down, date agreed, date added, reference link etc. This st

[2019-04-01 22:19] RobinaSanderson opened #102 "Allow adding or removing columns - Placeholder"
As the owner of a list
Allow me to add or remove a column when editing
So I don't have to delete and reload a list to change what columns are in it

This would allow an editor of a list to add or remove attributes without needing to delete the whole list.

Would not be able to remove the scientific name column.

[2019-04-01 22:25] RobinaSanderson commented on #74
I assume the expected result on rematch is:
- Any name to taxa match that hasn't changed is unaffected
- Any name to taxa match that has changed, the current data is replaced with the new match
- Any name to taxa that no longer have a match, are flagged?

Or should all previous information from the list be deleted and replaced with what is currently in the list?

[2019-04-01 23:08] RobinaSanderson opened #103 "UI - Editing - Able to edit informatin in all columns in a list - Placeholder"
Currently only able to edit supplied name and vocab. Should be able to update any attribute.
See screenshot, this list includes a common name field.

![image](https://user-images.githubusercontent.com/23368496/55365179-4589e680-552f-11e9-81fd-b0c4557aedee.png)

[2019-04-01 23:34] RobinaSanderson opened #104 "UI - Ability to extend table display to available space - Placeholder"
Currently the table of taxa has a default size which can't be extended even if the web page is much larger.

See screen shots below;
Small window
![image](https://user-images.githubusercontent.com/23368496/55366058-d31b0580-5532-11e9-8386-608acd3574a8.png)

Large window
![image](https://user-images.githubusercontent.com/23368496/55366084-eded7a00-5532-11e9-8736-1be99513d0de.png)

[2019-04-04 10:29] cgendreau opened #107 "SQL Query issues on specieslists page"
Issue encountered during the CESP ALA workshop:

@nickdos Could probably tell what was the original file.

From our specieslists page:
http://demo.livingatlas.org/specieslists/speciesListItem/list/drt1554365547007

If we click in the menus to the left (Refine results) we get a:

```Unable to retrieve species list items. Please let us know if this error persists. <br>Error:<br>Hibernate operation:

[2019-04-04 10:43] nickdos commented on #107
This is a known issue when an older MySQL driver (?) is installed. @djtfmartin can you explain it better please?

[2019-04-04 11:11] cgendreau commented on #107
I think I saw that when migration from 5.6 to 5.7.

[2019-05-31 05:06] nickdos commented on #89
Dave has since fixed the issue with image-service so once that is deployed, someone should test the image loading and close or action this issue.

[2019-05-31 05:13] nickdos opened #110 "Limit the number of taxa used to search biocache"
In the top left of each list page is a link to both the biocache (view occurrence records) and spatial portal (view in spatial portal). These links are proxied through the specieslist-webapp (and performa POST to biocache, from memory).

The clustered biocache does not handle very long lists of species as a SOLR query (performance issue), so this issue is to limit the search to the first 200 taxa

[2019-07-04 06:51] m-hope commented on #99
If we are using the lists tool to store IEK names then this issue should not be a technical problem as any fields can be defined in an uploaded list.  This is more of a workflow/process issue to ensure that any list flagged (how ever that is done in issue #98) has the fields required before it is so marked and used as a source of IEK names.

[2019-07-04 07:03] m-hope commented on #98
If we are going to use the lists tool to store IEK names, then adding an IEK name list type should be fairly simple and would satisfy requirements 1-4 (noting that the owner of a list would also be able to set/remove the tag, as well as ALA Admins). Searching across list types (and/or other list attributes) is currently not available and may have to wait to be implemented as part of the general li

[2019-07-09 04:06] RobinaSanderson commented on #98
As a short term solution this can be done in the backend as a configurable field on the list. We should split out the UI requirements and put that on the back log.

[2019-07-09 04:08] RobinaSanderson commented on #99
Check that all GBIF standard fields are covered in the schema, otherwise Lists allow any number of customised fields so this can technically be done.

[2019-07-09 06:06] m-hope commented on #98
To further clarify, the ability to mark a names list as containing IEK data from a system perspective (ie: so the system can recognise IEK names) is a very simple configuration change in the backend.  However, the capability to tag a list as IEK knowledge is only really useful from a user perspective if this can be searched on in the Lists tool.  As this search functionality is not yet available,

[2019-07-10 05:00] m-hope commented on #98
Specific task to complete: create a tag in the ALA name index config file that identifies a name list in the Lists tool as being IEK.  This 'tag' will identify names that need to be handled as IEK names (eg: for bie-plugin/#148, generic-bie/#4, and bie-plugin/#149).

[2019-07-22 22:26] ansell opened #113 "My Lists button shows up when not logged in"
Bug reported by Peter Brenton during manual website testing yesterday:

[code]

One possibility was that they were not logged in while testing based on attempting to replicate the issue. Two possible solutions are to redirect the "My Lists" button to the login page, or hide it when users are not logged in.

[2019-07-31 15:18] angelicalleite opened #114 "Upload list in version 3.3 does not work - throws JS error"
I installed version 3.3 and not upload list and not check data, I can also download the list and ALA Plataform perform this task and not success.

[2019-08-15 23:21] M-Nicholls opened #116 "Add delete button to "my lists""
support ticket: https://support.ehelp.edu.au/a/tickets/37772

The page displaying "My Species Lists" says "Below is a listing of species lists that you have provided. You can use these lists to work with parts of the Atlas. Click on the "delete" button next to a list to remove it from the Atlas".

No "delete button"?

[2019-10-01 06:51] nickdos commented on #114
Looks like the latest version has slightly newer version of jQuery that is throwing a JS error, where it previously ignored it.

The bug is in the `ajax` call inside the `parseColumns()` function, on this line:

[code]

contentType is expected to be a String but in this case is sending a Boolean, which causes jQuery to fail with error `Uncaught TypeError: (v.contentType || "").indexOf is not a fun

[2019-10-04 01:45] nickdos commented on #114
Fixed in version 3.4

[2019-10-04 06:07] ansell commented on #114
I did code review and functional testing for this

[2019-10-04 13:13] djtfmartin commented on #116
There isnt a button as such but there is a "Delete" link.

<img width="1524" alt="Screen Shot 2019-10-04 at 2 12 39 pm" src="https://user-images.githubusercontent.com/444897/66210176-1a847900-e6b1-11e9-9fe2-7afaf8946740.png">

As they are actions, they should be buttons on the right hand side

[2019-10-07 09:46] djtfmartin opened #117 "Searching within a list broken in 3.4 (current production)"
<img width="1674" alt="Screen Shot 2019-10-07 at 10 44 24 am" src="https://user-images.githubusercontent.com/444897/66301783-a84da780-e8ef-11e9-8318-15efda162e41.png">

[code]

[2019-10-08 13:45] djtfmartin commented on #87
Fixed in this commit i think

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/commit/98f0aa971bd1caf391c1d10fea74098216e89441#diff-e847b9b5307f00d7ee248fb11b8c32cb

[2019-10-08 16:43] djtfmartin opened #118 "Add facetting and ability to default to authoritative lists only"
The current display of lists is messy with a lot of test lists uploaded by users. These should be hidden from view or at least demoted in favour of lists of importance to the ALA systems (eg. sensitive species lists).

Current display

<img width="1673" alt="Screen Shot 2019-10-04 at 2 24 59 pm" src="https://user-images.githubusercontent.com/444897/66415258-1c24a880-e9f3-11e9-9e99-32bdf6530217.png

[2019-10-08 16:44] djtfmartin commented on #118
As temporary measure,  Ive marked a bunch of lists as private with the following SQL.

[code]

This doesnt remove any lists for users, and is should only affect the lists tool homepage "https://lists.ala.org.au"

[2019-10-10 23:06] javier-molina commented on #117
Facets are broken as well.

https://support.ehelp.edu.au/a/tickets/42166 is a ticket related to this issue.

[2019-10-11 15:56] djtfmartin opened #120 "Default all new lists to isPrivate=true"
To reduce the amount of clutter in the public view of lists, all new lists submitted via the spatial portal and other tools should default to isPrivate=true. This wont effect a users own visibility of their lists and only affect the visibility https://lists.ala.org.au list search.

[20-04-2021]
- [ ] Update private list checkbox, make it ticked by default.

[2019-10-11 15:56] djtfmartin commented on #120
Related to #118

[2019-10-15 03:12] #114 closed

[2019-11-04 00:50] ansell commented on #87
Tested the fix for this as part of https://github.com/AtlasOfLivingAustralia/spatial-hub/issues/265

[2019-11-04 00:50] #87 closed

[2019-11-04 00:57] ansell commented on #117
Verified this is now working in test:

`https://lists-test.ala.org.au/speciesListItem/list/dr914?fq=family%3ACortinariaceae&max=10`

Broken in production:

`https://lists.ala.org.au/speciesListItem/list/dr914?fq=family%3ACortinariaceae&max=10`

[2019-11-18 06:24] javier-molina commented on #116
Tested as per below. (This was a snapshot version, I think it should be moved to Ready for CAB once a non-SNAPSHOT version is deployed to test.

_ | _
-- | --
git.commit.date | 2019-11-01T03:08:19+1100
git.commit.id | 0e5311a90fae3545e774ac71b54e5a59b76d7610
git.commit.shortId | 0e5311a
git.branch | HEAD

_ | _
-- | --
grails.env | production
app.version | 3.5-SNAPSHOT
app.grails.version | 3.2.11

[2019-11-19 04:23] javier-molina commented on #107
Tested OK with version 3.5-SNAPSHOT, see details below

git.commit.date | 2019-11-01T03:08:19+1100
-- | --
git.commit.id | 0e5311a90fae3545e774ac71b54e5a59b76d7610
git.commit.shortId | 0e5311a
git.branch | HEAD

grails.env | production
-- | --
app.version | 3.5-SNAPSHOT
app.grails.version | 3.2.11
java.version | 1.8.0_222

This an example of faceting that no longer throws a MySQLSyntaxErrorExcepti

[2019-11-19 06:38] vjrj opened #123 "mysql encoding issues with specieslists version >= 3.4 & mysql 5.7"
We have some  `Error: Internal Server Error` trying to rematch some old lists or to upload some test list like [this one](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/3862267/enconding-issues.csv.txt) with encoding errors like:

[code]

This happens to us at least with the last versions of specieslists (>=`3.4`).

More info:
https://thepluginpeople.atlassian.net/wiki/spaces/K

[2019-11-21 09:47] djtfmartin opened #124 "Fix the error page to remove the default grails version"
<img width="724" alt="Screen Shot 2019-11-21 at 9 47 39 am" src="https://user-images.githubusercontent.com/444897/69326603-fa4e5080-0c43-11ea-8b7e-4badb92f98ec.png">

Currently just gives the above for 404 and bad urls

[2019-11-21 23:58] vjrj commented on #123
It's caused by the use of the GBIF Backbone Taxonomy that contains Chinese characters:

[code]

That is _Ciconia nigra_ in Chinese:
https://www.google.es/search?q=黑鸛

More info:
https://stackoverflow.com/questions/10957238/incorrect-string-value-when-trying-to-insert-utf-8-into-mysql-via-jdbc

[2019-11-22 11:20] djtfmartin opened #125 "i18n broken in 3.5"
Fix provided by @vjrj. Will release 3.5.1 with fix

[2019-11-22 12:20] djtfmartin commented on #125
Fixed in 3.5.1. Can be tested by adding ?lang=es to URLs

[2019-11-22 12:22] djtfmartin commented on #124
Fixed in 3.5.1.

[2019-11-26 04:41] javier-molina commented on #116
Tested on 3.5.1 https://github.com/AtlasOfLivingAustralia/cab/issues/18

[2019-11-26 04:46] javier-molina commented on #117
Tested om on v 3.5.1 https://github.com/AtlasOfLivingAustralia/cab/issues/18

[2019-11-26 04:51] javier-molina commented on #124
Now there is a proper Page not found error displayed.

Tested on v 3.5.1 https://github.com/AtlasOfLivingAustralia/cab/issues/18

[2019-11-26 05:00] javier-molina commented on #125
I see i18n working for table headings but not much apart from that.

What is the scope of this ticket?

Looks like there is a long way to make pages fully i18n aware.

[2019-11-26 06:59] djtfmartin commented on #125
I think thats it for now really - agree theres probably more work to be done for i18n translations, but the table headings where broken in 3.5, so if you see them working thats it really.

[2019-11-26 07:28] vjrj commented on #125
@geonb from biodivAtlas Austria and his team were working in improve the internationalization of specieslists these days. I know also that they have some deadline in December, but, @geonb, any idea of where you could send a Pull Request regarding i18n? Thanks!

[2019-11-26 14:16] djtfmartin commented on #123
@vjrj if my memory serves (and it doesnt always) I think we've had some success with using  `utf8mb4` in the past:

https://stackoverflow.com/questions/10957238/incorrect-string-value-when-trying-to-insert-utf-8-into-mysql-via-jdbc

we've done this in workshops, but we've never pushed it back into the ansible repo (as we probably should)....

[2019-11-26 21:19] javier-molina commented on #125
Thanks Dave for clarifying the scope and gracias Vicente for the fix and the heads up on what's coming.

[2019-11-26 21:54] javier-molina commented on #125
Tested ok in v3.5.1  https://github.com/AtlasOfLivingAustralia/cab/issues/18

[2019-11-26 23:40] javier-molina opened #127 "guid are not displayed as URLs"
A species list downloaded include a guid that has a URL format. Currently if this list is uploaded back it will display guid  displaying the html markup for a link.

**Steps to reproduce**

- From Species List frontpage download an existing list
- Go back to front page and Upload a list
- Select file
- Click Check Data

**Expected**
- guid is displayed as a clickable link
**Actual**
- guid is disp

[2019-11-27 07:23] vjrj commented on #123
Thanks Dave, helps a lot.

In fact the database encoding was `latin1`  so changing to `utf8` was enough to solve my issue:

[code]

I think we should specify the encoding in db creation of databases with `encoding` variable  like collectory, specieslists, CAS, etc:
https://docs.ansible.com/ansible/2.5/modules/mysql_db_module.html
so Collections, Lists, User names creation in these languages, don't

[2019-11-27 23:59] javier-molina commented on #107
Working on 3.5.1

[2019-12-04 23:54] nickdos opened #128 "View record popup display issue"
The modal popup for viewing a single record has content that overflows the modal window, when a photo is present.

To replicate:
- view a list, e.g. https://lists-test.ala.org.au/speciesListItem/list/dr1782
- find an entry that has a species image thumbnail and click the "info" icon in first column
- note the overflow of content outside the boundary of the modal div (see screenshot below)

I only

[2019-12-05 16:07] djtfmartin commented on #125
now deployed in to production.

[2019-12-05 16:07] #125 closed

[2019-12-05 16:08] djtfmartin commented on #116
now deployed in to production.

[2019-12-05 16:08] #116 closed

[2019-12-17 03:12] #107 closed

[2019-12-17 03:12] #117 closed

[2019-12-17 03:12] #124 closed

[2019-12-23 04:49] nickdos commented on #123
No change was associated with this issue so moving out of our Kanban board.

I did check `ala-install` and it shows the DB connection as:

[code]

Note the `UTF-8` at end.

[2019-12-23 20:04] vjrj commented on #123
The problem is not in the db connection IMHO, but in the db creation encoding in ala-install that is not specified
https://docs.ansible.com/ansible/2.5/modules/mysql_db_module.html

[2019-12-23 21:47] nickdos commented on #123
Thanks for clarifying @vjrj  - would it possible to specify `utf-8` at the DB or table create stage via some extra code in [BootStrap.groovy](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/master/grails-app/init/au/org/ala/specieslist/BootStrap.groovy) maybe?
Or is this better handled in `ala-install`?

@djtfmartin any suggestions?

[2019-12-23 22:49] vjrj commented on #123
I'll do some tests to have a better understanding of the issue.

[2019-12-26 17:39] vjrj commented on #123
Ok I did some tests and I'll send a PR to ala-install in short.

[2020-01-08 04:38] ansell opened #129 "Allow a configurable limit to the total number of items in a list"
It would be useful to allow a configurable limit to the total number of items in a list for performance reasons.

Investigating an extended CPU load issue today showed a list with 360,711 taxa (`dr144381`) that had slow queries attached to it and could have been avoided during the upload process with a limit on the number of items.

[2020-02-20 02:15] ansell opened #131 "Avoid table-level locks during updates"
MySQL on the ALA lists server blocked today when its connection pool filled up because too many updates were waiting on table-level locks. Should be using row-level locks to avoid this issue:

[code]

[code]

[2020-02-20 02:23] nickdos commented on #129
As a starting point, should we try a max of 100,000 or 50,000?

Either would only block 4 lists in there currently.

[2020-02-20 02:58] ansell commented on #129
The total row counts for the tables on prod are the following, but not sure how much each will go down if we remove the 4 large lists:

[code]

[2020-02-25 22:17] nickdos opened #132 "Update help hint on biocache links - 200 taxa limit is no longer a thing"
See screenshot:

![image](https://user-images.githubusercontent.com/532845/75292546-8641cb00-5878-11ea-9b59-5ff0f6d5a0f7.png)

Change the popup text:

200 needs to be updated to a figure that is roughly the new upper limit.

EDIT: I was wrong about this - if the list is marked as "authoritative" it should be indexed in SOLR, in which case the limit does not apply. Too complex and not actually noti

[2020-02-26 23:23] ansell opened #133 "The species_list.data_resource_uid database column needs an index"
The slow query log is reporting table scans due to the use of select queries on `species_list.data_resource_uid` without an index.

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/master/grails-app/domain/au/org/ala/specieslist/SpeciesList.groovy

[2020-02-26 23:50] ansell opened #135 "Fix use of concat in sql queries"
The use of `concat` in queries is a red flag for performance. The application issue relating to sorting needs to be fixed in a way that doesn't require `concat` to be in SQL queries.

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blame/4906d92ceaf1bf9b5089572a5c7a271fcbfc5c75/grails-app/domain/au/org/ala/specieslist/SpeciesList.groovy#L68

[2020-02-27 01:51] ansell commented on #133
Implemented, deployed to test and Nick QA'd this, so it is ready for the next CAB release of lists.

[2020-02-27 04:11] #133 closed

[2020-03-18 21:22] Tasilee opened #136 "Add a Delete button for displayed list"
It is way beyond cryptic to be able to **delete** a list you own (or for an admin to delete a list). You have to click on the Name of the list, which takes you to the Data resource, then go to the bottom of the page and find delete. This may remove the resource but doesn't (at least immediately) seem to delete the list.

A DELETE button needs to be added somewhere on the list page. My suggestion w

[2020-03-18 23:21] nickdos commented on #136
Yep, agree - should be relatively trivial to add this.

[2020-03-19 02:50] Tasilee opened #137 "List type "Local checklist" should be renamed "Area checklist""
The term "local checklist" has no well-accepted ecological meaning. "Local" is also not appropriate in many situations, for example, a checklist of a region would not be unusual.

The accepted term is "Species checklist" so, if possible, rename "Local checklist" to "Species checklist" as a List type, and rename the associated lists of that type.

[2020-03-19 02:59] Tasilee opened #138 "Area checklists (called "Local checklist") require an area definition"
"Species checklists" are lists of taxa within a **defined area**. We do not currently enforce the definition of the **area** (which is currently called "Region" and shouldn't be) and we need to, as a "Species checklist" is of little value without an associated area.

There would be a fair chance that many areas would be named and defined spatially within the SP's  gazetteer, but we would have to a

[2020-03-19 03:08] ansell commented on #138
Is lists.ala.org.au intended in the future to solely be a curated set of species lists suitable for reuse by others?

Conversely, will it always allow the inclusion of single-use lists, which one may apply to various areas for exploratory purposes, rather than as a representative list of species actually present in any one area?

[2020-03-19 03:14] Tasilee commented on #138
Fair comment @ansell. As Lists were my brainchild, I suppose I can be audacious.

Lists can be public or private, but regardless, a "Species checklist" is of little value without the definition of the area it refers to. Sure, right now you could create a private 'Species checklist' without an area (region, grrr) but if you return to the list after a fair delay, it would be nice if the area was def

[2020-03-19 03:15] ansell commented on #138
My bad, I didn't realise you meant a specific one of the various specific list types.

[2020-03-24 22:59] Tasilee opened #139 "Add missing fields to Admin table of lists"
To my knowledge, we have not done a review of all the lists. I have done a preliminary one but I can't do a thorough review without having a table that includes all list db fields. We are currently missing

1. Is private
2. Included in species pages
3. Authoritative
4. Invasive
5. Threatened
6. Part of the sensitive data service
7. Region

Being able to filter and then bulk delete would be next.

[2020-03-30 22:26] nickdos commented on #89
Closing this as performance is fine now. Performance should get even better when S3 changes are deployed.

[2020-03-30 22:26] #89 closed

[2020-03-31 03:44] nickdos commented on #123
@Rita-C could you check this (code review) and test functionality as part of the next release?

[2020-04-06 22:17] nickdos commented on #139
I think this needs a separate facet section (to the "List types") to avoid confusion, as some of the labels are similar. Maybe call it "List attributes"(?).

Requires the fields to be included in the ElasticSearch index before the facets can be used in the UI.

[2020-04-07 00:03] Tasilee commented on #139
"List attributes" seems appropriate

[2020-04-07 22:43] nickdos commented on #113
Tested ✅

[2020-04-07 22:49] nickdos commented on #137
I'm wondering if changing both the label and underlying DB value is necessary? My concern is if downline systems are using the DB values via the API, then that functionality could break. Is it possible to query/filter via the API using `local checklist` or `LOCAL_LIST` (code check needed)?

[2020-04-07 22:56] nickdos commented on #120
Just tried a test and got an error. Same data on production worked.

![image](https://user-images.githubusercontent.com/532845/78726842-62dd6600-7976-11ea-8a1f-130d930a3e3d.png)

[2020-04-07 22:58] nickdos commented on #137
See https://github.com/AtlasOfLivingAustralia/specieslist-webapp/issues/120#issuecomment-610659745

[2020-04-07 23:02] nickdos opened #140 "Upload a list does not require user to be logged in"
I was able to upload a list without being logged in and I think this is a bug (but not sure). The list gets assigned to the user `info@ala.org.au`. See list example: https://lists.ala.org.au/speciesListItem/list/dr15406.

I think this could be confusing for users, who don't realise they're not logged in and then come back and can't find the list they uploaded, due to it NOT being associated with t

[2020-04-07 23:45] nickdos commented on #120
Looking at the [successful list](https://lists-test.ala.org.au/speciesListItem/list/dr14046) I created, it appears to have `isPrivate=false`:

![image](https://user-images.githubusercontent.com/532845/78729547-a6879e00-797d-11ea-9a41-ff04fd5d0450.png)

[2020-04-08 20:45] Tasilee commented on #120
Sorry but I disagree with the philosophy here. The issue is more that we have too many lists that are temporary and are not being removed and we don't have an adequate mechanism for filtering lists. A private list is not findable by other users and the whole idea is sharing of information.

I added issues #136, #137, #138 and #139 based on what I wrote in my October 2019 report to Andre:

- I rais

[2020-04-08 20:53] Tasilee commented on #137
Currently "local checklist" has no meaning to the ecological, biological, zoological etc communities who understand "species checklists", which doesn't help our reputation (e.g., DQ). I don't want to break  anything so a background work-around is dandy. We had the same problem with the 'download reasons' - the structure of which didn't make sense.

[2020-04-09 00:05] nickdos commented on #120
I'd be OK with leaving as default as `public` and implementing better filtering and some human action to monitor lists as a way of achieving the desired outcome of clearing out old clutter (issue is being worked on for adding facets so we can filter for these). It all comes down to whether ALA users are actually using lists from other users and I'm not sure we know one way or the other. @djtfmarti

[2020-04-15 01:02] Rita-C commented on #120
@nickdos , @Tasilee , Based on Lee's comment, I'm going to revert the change of this ticket, i.e. leave default to be public.
ref comment Type "Local checklist" should be named "Area checklist", should #137 (List type "Local checklist" should be renamed "Species checklist") be updated @Tasilee ?

[2020-04-15 01:12] Tasilee commented on #120
Thanks @Rita-C . Yes, we need to change the name "Local checklist" to "Species checklist" to align with ecological accepted (best) practice. In association with this, we really do need to action #138

[2020-04-15 02:18] Rita-C commented on #120
default private list code changes reverted.

[2020-04-15 02:23] Rita-C commented on #137
@nickdos , If only change the label not DB value, what value should be displayed at https://lists-test.ala.org.au/ws for “listType” I guess it should be “LOCAL_LIST” for ws, however, wouldn’t that be confusing as the UI label is "species checklists"?

[2020-04-15 02:31] Tasilee commented on #137
Ones of my roles is to point out issues, but not how they are best addressed :)

[2020-04-15 02:46] Rita-C commented on #138
@Tasilee , define an area for "Species checklist", can this be achieved by making "Spatial bounds for data (WKT)" mandatory for this type of lists? This is the last field on the following screen:
https://lists-test.ala.org.au/speciesList/upload

[2020-04-15 03:00] Tasilee commented on #138
Thanks @Rita-C , yes, exactly so. At some point when we have more resources for this (and Andre has raised the need for a serious hit on Lists just this morning with me), we would tap into the SPs services to define an area (Add to Map | Area) functions. For example, they could draw a polygon, or use a name in the gazetteer, or import a shapefile/wkt or KML) etc. For now, we could reference the SP

[2020-04-15 03:28] nickdos commented on #137
@Rita-C Might be worth checking the lists.ala.org.au access logs for calls to the WS services that pertain to this... I have a feeling they will all be ALA apps (like BioCollect and maybe Profiles) in which case we don't want them to change, as it will potentially break the API for them. Yes it might be confusing for someone doing a new implementation for the API but seems far less likely than bre

[2020-04-15 04:21] Rita-C commented on #137
Yes, there are a few ALA apps consume lists webservice API, `biocache-service`, `fieldcapture`, `fieldcapture-hubs`, `biocollect` etc.
I'm going to keep “LOCAL_LIST” for ws, and to add a note on the https://lists-test.ala.org.au/ws page, stating it's equivalent to "species checklists" in UI for backward compatibility reason. How does this sound @nickdos ?

[2020-04-15 04:23] nickdos commented on #137
I think that is a good plan 👍

[2020-04-15 04:32] Rita-C commented on #137
Updated issue title to ... rename to "Area checklist", ref @Tasilee comment in #120.

[2020-04-15 04:32] Rita-C commented on #138
Updated issue title to ... rename to "Area checklist", ref @Tasilee comment in #120.

[2020-04-16 04:17] Rita-C commented on #140
@nickdos , code shows that if a user didn't log in and tried to upload a list via csv, the list username is set to`info@ala.org.au`, the change comment is "work with new bie update to Grails 2.5.1".
We can hide the "upload a list" button when user is not logged in.

Note, a list can be uploaded without a user name via webservice calls, ref to https://lists.ala.org.au/ws or https://api.ala.org.au/#

[2020-04-16 04:41] nickdos commented on #140
I'll check with @adam-collins about the web service side.

On the UI, we should just make the upload page be under AUTH (add its path to the `security.cas.uriFilterPattern` list), so if a user clicks the "upload" button and they're not logged in, they get the login screen first. Hiding the button doesn't stop someone bookmarking the upload page (or getting to it via google).

[2020-04-16 10:57] djtfmartin commented on #120
Apologies @nickdos for only commenting late on, but my preference would be to default `isPrivate=true`.

I appreciate @Tasilee's comments on getting folks to collaborate on lists, that would be great to see. But the problem we have is that i think the  default `isPrivate=false` is giving people a bad impression of the general data in the tool, and will probably put collaborators off treating it wi

[2020-04-16 22:54] Tasilee commented on #120
Thanks @djtfmartin. I just talked with Adam yesterday about that default ticked 'private' in the SP and asked that it be changed to unticked. But happy to include a note about sharing as mentioned. This was part of the issue https://github.com/AtlasOfLivingAustralia/spatial-hub/issues/263 (which I tested yesterday on spatial-test).

I agree with anything that would elevate the benefits of list awa

[2020-04-16 23:11] adam-collins commented on #140
Changing the webservice to `security.cas.uriFilterPattern` will require changes to at least the following ALA applications.

- `spatial-hub` is creating lists from the server using `ws/speciesList` and the headers `X-ALA-userId` for userId and `ALA-Auth` for email.

- `biocollect` is creating lists from the server using `ws/speciesList` with the same userId and email headers but the additional hea

[2020-04-16 23:15] nickdos commented on #140
@adam-collins the idea was NOT for the web service but only the GSP page for uploads to be under `security.cas.uriFilterPattern`.

[2020-04-17 04:03] nickdos commented on #136
So there are 3 fixes for this:

- [ ] add "My lists" link to top of every page (not just lists home page)
- [ ] afix issue where delete, rematch, reload buttons do not show up
- [ ] aadd a "Delete" button to each list page, if the list is owned by the currently logged-in user (or they are admin) - maybe under the "list info" drop-down area??

[2020-04-17 04:15] Tasilee commented on #136
Thanks @nickdos . For the third component. I think it may be consistent if we add a Delete button column that is visible for owned lists or admin? In other words, as we have now for the Admin view of table. This makes it visible and easily actionable.

[2020-04-23 03:41] Rita-C commented on #120
Code updated to show "is private" check box on UI for user to elect if the uploaded list is private.

[2020-04-24 01:09] Rita-C commented on #137
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-1

[2020-04-24 01:11] Rita-C commented on #138
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-2

[2020-04-24 01:16] Rita-C commented on #120
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-3

[2020-04-24 01:51] Rita-C commented on #136
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-4

[2020-04-24 02:05] Rita-C commented on #136
@sbearcsiro , could you review my CAS pattern changes, the two commits in ansible-inventories and ala-install, also application.groovy changes?

[2020-04-24 02:08] sbearcsiro commented on #136
@Rita-C LGTM

[2020-04-28 00:11] nickdos commented on #138
I'm thinking this change is asking too much of regular users... in that forcing them to use the current UI to provide an area via the "Spatial bounds for data (WKT)" is UX hell. How is a regular user supposed to know how to do this? Even I would baulk at this request, as it would take me an extra 10 minutes fiddling in some GIS tool to get a valid WKT string. I'd say 99% of users of the list tool

[2020-04-28 00:59] Tasilee commented on #138
I can understand your position (as a developer :), but it depends who "regular users" are. I'd say most users are using lists as a shorthand way of managing multiple species. That is, they are not 'species checklists', but at some point, we will certainly have a data campaign to capture the many species checklists that are available. Most parks, reserves and islands have them. Such lists are impor

[2020-04-28 05:00] ansell commented on #136
The button shows, and clicking on it deletes the list for me on lists-test.ala.org.au with these version numbers showing in buildInfo:

<img width="1658" alt="Screen Shot 2020-04-28 at 2 59 52 pm" src="https://user-images.githubusercontent.com/82365/80448855-f1834880-8960-11ea-8278-f4b5c6f10f12.png">

[2020-05-07 03:05] #132 closed

[2020-05-07 03:34] nickdos opened #144 "Download modal shows incorrect email value when logged in via AAF"
When a user has logged in via AAF and then they perform a download (for a given list), the modal popup should insert the user's email address via AUTH but it instead displays a class name: `org.pac4j.oidc.profile.OidcProfile#UrYgNHKxgzD62EC9xwOwjhRn19yzGHL9Z0Wt4-7MisY`.

![image](https://user-images.githubusercontent.com/532845/81251675-309f5100-9067-11ea-9361-f05caad17000.png)

Investigate and fi

[2020-05-10 23:29] nickdos commented on #144
First thing to try is updating ala-auth plugin to latest version.

[2020-05-11 00:24] Rita-C commented on #139
@nickdos @Tasilee , we'll update the filers to have:
1. is private (only visible for admin)
2. included in species pages
3. authoritative (existing)
4. invasive (existing)
5. threatened (existing)
6. part of sensitive data service (existing)
7. region
8. conservation list (existing)
9. common habitat of species (existing)
10. common trait of species (existing)
11. area checklist (existing)
12. spe

[2020-05-12 00:39] Tasilee commented on #139
Sounds wonderful, thanks @Rita-C

[2020-05-15 06:46] Rita-C commented on #139
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-5

[2020-05-18 07:45] vjrj opened #148 "Missing argument in upload list description"
The `Upload List` description, currently looks like:

https://lists.ala.org.au/speciesList/upload
`A species list should consist of a list of scientific or common names and some optional associated properties. Provide input consisting of a header line and some rows of data and we will attempt to map your list to taxon names known to the {0} system. A species list can be uploaded either as a CSV fi

[2020-05-18 23:19] nickdos opened #150 "Newly created list shows HTML code in blue Alert box"
After successfully uploading a list, the list shows a "Confirm" message inside a blue div and the text shows:

see:

![image](https://user-images.githubusercontent.com/532845/82268145-99fd5900-99b1-11ea-8f08-5d56899b3f2b.png)

Fix:
- [ ] remove the repeated `<strong>Alert:</strong>` text

[2020-05-19 00:56] Rita-C opened #151 "Add WKT (GIS feature) validation"
WKT is not validated and it is mandatory for "area checklist" upload.
Invalid WKT causes loading "View occurrence records" and "View in spatial portal" to fail.

Suggest to
validate the WKT with a GIS library - biocache-store uses one (org.geotools) we could import for a fix.

[2020-05-22 01:10] #139 closed

[2020-05-26 03:03] Tasilee opened #153 "Lists needs two refinements for clarity"
1. We need rollovers on List types at https://lists.ala.org.au as some of the list types will be obscure for the average user (and me).
1. We need to separate the List types into two categories: **List Types** that include

- Species characters list
- Conservation list
- Sensitive list of species
- Common habitat of species
- Area checklist
- Common trait of species
- Spatial portal defined list
-

[2020-05-26 22:47] nickdos opened #154 "Some lists do not allow viewing by ROLE_ADMIN user"
As reported by @Tasilee  - https://lists.ala.org.au/speciesListItem/list/dr15655

As an admin I can't access this list - reports:

[code]
I have a feeling they are set as `private`.

[2020-05-27 23:04] Tasilee commented on #153
These are the definitions as best I can figure

LIST TYPES
Area checklist (Species within a formally defined area: 362)
Common habitat of species (Species linked to one habitat type: 18)
Common trait of species (Species with the same trait/attribute: 44)
Conservation list (Species with any conservation status: 65)
List of sensitive species (Species with locations generalized: 49)
Other (Does not f

[2020-05-27 23:34] elywallis commented on #153
Hi @Tasilee
A few questions:
How is this LIST TYPE
Conservation list (Species with any conservation status: 65)
different from this TAG
Threatened species list (Species with any conservation status in Australia: 20)

How does this LIST TYPE
List of sensitive species (Species with locations generalized: 49)
differ from this TAG
Member of Sensitive Data Service list (Species have authoritative sensi

[2020-05-28 00:15] Tasilee commented on #153
Put it this way, somehow, I was never advised when new lists were created so now I am trying to 'put the fires out'. In short, there are indeed plenty of anomalies that we need to correct, but as a first step, we need to know rough definitions for rollovers as users had nothing that described the lists. That is unacceptable.

What I am calling TAGS are different to List types. If you look now, you

[2020-06-02 04:12] Rita-C commented on #154
@Tasilee , please try log out then log in again. The list shown for Nick and me after that.

[2020-06-02 06:05] Rita-C opened #155 "Double colon in the list title"
![Species_list_items___Atlas_of_Living_Australia](https://user-images.githubusercontent.com/29115246/83485675-e5a01e80-a4ea-11ea-9e8c-21f38092695c.png)

[2020-06-02 06:47] vjrj commented on #155
My fault, sorry, just remove this colon:

https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/56a21025d7a7d3ec3de79e55601254712a210198/grails-app/i18n/messages.properties#L198

[2020-06-02 06:48] Rita-C commented on #155
nw, done that.

[2020-06-04 02:48] Rita-C commented on #155
updated as part of #153.

[2020-06-05 02:28] Tasilee opened #156 "Lists with defined areas need to be linked with gazetteer"
Lists have two spatial attributes 'Region' and 'WKT'. Neither of these fields are validated on entry and there are no links to the gazetteer. There appears to be almost random text in these fields.

The 'Region provided' check box seems to relate to the WKT field being not EMPTY?

"Region" isn't accurate field name. I would urge the use of "Area". The WKT should be a special case for defining area

[2020-06-11 04:20] nickdos commented on #144
code reviewed ✅

[2020-06-11 04:21] nickdos commented on #153
I left some comments for commit 4ff3d33

[2020-06-11 04:22] nickdos commented on #155
reviewed ✅

[2020-06-11 04:23] nickdos commented on #154
Reviewed ✅

[2020-06-12 01:23] Rita-C commented on #153
thanks, code updated.

[2020-06-15 00:02] Tasilee opened #158 "Count of number of lists at the top of the page with the table of lists"
When trying to review the status of the lists, it would be helpful if a count of the number of lists in the current table could be displayed at the top of the page. While you can see the number of lists or TYPE and TAG, the combinations cannot be determined. For example, how may lists are 'Authoritative' and 'Invasives'? You can easily get the table by filtering but then have to count the number o

[2020-06-16 01:10] Rita-C commented on #123
Added a list `Test 123 黑鸛 `to lists-test, list saved and displayed correctly.

[2020-06-16 01:33] nickdos commented on #123
I think this only affects fresh installations with no existing data. @Rita-C could you test locally with empty database, pls?

[2020-06-16 03:33] Rita-C commented on #123
Added a list `Test 123 黑鸛` to local empty database, list saved and displayed correctly.

[2020-06-16 06:16] vjrj commented on #123
@nickdos and @Rita-C this affected any db created with default encoding (in our case and others deployments was latin1, not utf8). So I'm not sure that you can add 黑鸛 specie in ALA production without re encoding the db. I did: https://github.com/AtlasOfLivingAustralia/specieslist-webapp/issues/123#issuecomment-558964225

[2020-06-16 06:36] Rita-C commented on #123
But I could add this list https://lists-test.ala.org.au/speciesListItem/list/dr12237#list

[2020-06-16 07:10] vjrj commented on #123
I don't know when this test db was created. My PR in ala-install setting the utf8 encoding is there since end of december. I know that other previous LA deployments were affected, because I helped to fix it.

[2020-06-29 05:14] Rita-C opened #160 "Add access control to admin functions"
- Only admin user can access` /admin` and its functions
- ~~Add `rematch my lists` link to "My Species List" page for an logged in user to rematch all contributed lists~~
- Add confirmation to `rematch all` ~~and `rematch my lists`~~

[2020-07-02 00:10] ansell opened #161 "StringIndexOutOfBoundsException and NullPointerException when unexpected inputs are given"
The following occur when unexpected inputs are given (see the end for the query)

[code]

[2020-07-02 02:23] nickdos opened #162 "UI tweak for search function"
When using the search from the home page, the layout and colouring of buttons is confusing.

![image](https://user-images.githubusercontent.com/532845/86309175-6f641880-bc5e-11ea-9941-0398987d8977.png)

I have accidently clicked the `Clear search` button when I intended to click `Search`. The reason is the `Clear search` button has the obvious orange colour and `Search` has no colour fill. I recom

[2020-07-06 05:35] Rita-C commented on #160
@nickdos @ansell
Ready for code review and test.

[2020-07-16 03:31] Rita-C opened #163 "Rectify search/find list item in a given list by scientific name"
- Change the search on species list items page to something like search/find items by scientific name
- Expand the search to search more fields, i.e. scientific name, supplied name, common name
- ~~Expand the search to search KVP if possible~~

![Screen Shot 2020-07-16 at 1 26 54 pm](https://user-images.githubusercontent.com/29115246/87623309-76b01980-c768-11ea-91ba-acc0389d7f00.png)

[https://lis

[2020-07-16 06:32] nickdos commented on #161
Wondering how to test this... is there is a set of steps used to replicate this issue?

[2020-07-16 10:49] ansell commented on #161
The initial test is the URL path at the bottom of the original comment: `/iconic-species?fq=test&` , which triggered both errors before this patch (I haven't had time to test this fix myself yet). I will send you the rest of the test set that triggered the lists outage on Slack.

[2020-07-16 11:01] ansell commented on #161
For that particular URL path there is no log messages or errors, and it redirects as designed to the expected hardcoded backup URL:

[code]

[2020-07-20 01:37] nickdos commented on #148
@Rita-C - just checking whether you've also tested this on test system (not just code review)?

[2020-07-20 01:44] nickdos commented on #14
code QA'ed ✅

[2020-07-20 01:47] nickdos commented on #14
I can't get any results from search on test site. Has it been deployed?

[2020-07-20 02:50] nickdos commented on #160
Comments added to commit.

[2020-07-20 03:55] nickdos commented on #162
Code LGTM ✅

[2020-07-20 04:18] ansell commented on #161
The URLs in the test set work for me.

[2020-07-20 04:24] ansell commented on #160
My only comment is to agree with Nick on removing the "Rematch my lists" feature because rematching produces some load on specieslist and bie so should only be an admin activity that we can schedule out of hours.

[2020-07-20 04:43] nickdos commented on #160
My bad for telling @Rita-C to add the rematch to user's list page. Only when I saw it on test site did I realise it was a bad idea.

[2020-07-21 00:04] Rita-C opened #165 "Incorrect facet count on "my lists" page"
A defect introduced by changes of #153

Steps to reproduce:

1. go to lists page, log in if prompted e.g. https://lists-test.ala.org.au
2. click "My lists" button
3. check facets on the left hand side

Expected results: facet counts match the numbers of the displayed lists

Actual results: facet counts do not match

[2020-07-21 00:10] Rita-C commented on #160
https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-6

[2020-07-21 00:34] nickdos commented on #160
Code reviewed ✅

[2020-07-21 00:36] nickdos commented on #160
Test site is still forgetting I'm logged in. E.g. I log in and then come back a few hours later and the refresh page and the Login button is showing in the header. When I click the "login" button I'm redirected back to page (I don't see the login screen on auth-test). This suggests the AUTH knows I'm still logged in but lists forgets...

[2020-07-21 00:40] nickdos opened #166 "Admin: "Rematch" button fails for lists with quotes in name"
E.g. [one list](https://lists-test.ala.org.au/speciesListItem/list/dr8221) has a name of `'A Genome' Oryza species`. When I try to run the "rematch" function on the admin screen, nothing happens. I'm expecting a dialog popup, which is the usual behaviour for other lists.

The quote in the name is probably not being escaped/encoded.

[2020-07-21 01:20] nickdos commented on #160
Testing all good ✅

[2020-07-21 01:22] nickdos commented on #165
The only commit to this issue (43899d7) is a code formatting change only (functionally equivalent). Is there another commit?

[2020-07-21 01:27] Rita-C commented on #165
This is the only commit, it's not only code formatting change, one param is added then removed, refer to code comment below:
[code]

[2020-07-21 01:40] nickdos commented on #165
Thanks - got it now.

[2020-07-22 00:41] nickdos opened #168 "UI tweaks for icon-species page"
The 2 columns for https://lists-test.ala.org.au/iconic-species are overlapping for "normal width screens".

![image](https://user-images.githubusercontent.com/532845/88121079-02fa8a80-cc08-11ea-9605-144751109336.png)

- [ ] Fix the main column so it doesn't overlap with the left column - remove rules (?)
[code]
- [ ] Reduce the size of the species image icons, so more are visible "above the fold"

[2020-07-22 00:51] nickdos opened #169 "After uploading new list confirm box has HTML code"
When a newly created list is first viewed, there is an alert message with double message & HTML characters:

![image](https://user-images.githubusercontent.com/532845/88121500-3b4e9880-cc09-11ea-87a6-32532272222a.png)

which should be

[2020-08-14 01:34] Rita-C commented on #14
shouldn't be closed

[2020-08-14 01:35] Rita-C commented on #163
shouldn't be closed

[2020-08-14 05:37] nickdos commented on #14
Search performance on test site is quite slow - 20+ seconds to get a response. Do we need to add an index(es) to any of the tables?

[2020-08-14 05:42] Rita-C commented on #14
It is slow, wasn't that slow previously. I'll load test data to my local. may need to add new index(es).

[2020-08-14 05:45] nickdos commented on #14
Testing seems all good. The only thing that I noticed (probably already there so not fault of this fix) is there is no indication of the number of search results. So if you see 4 pages of results you don't know how many "hits" there are. All our other search interfaces say how many results are returned for a given search. Maybe we just make an enhancement issue for that? Not a high priority.

[2020-08-14 06:11] nickdos commented on #163
Testing: looks good to me ✅

[2020-08-19 05:16] Rita-C commented on #150
duplicated issue with #169, closed.

[2020-08-19 05:16] #150 closed

[2020-08-19 06:32] nickdos commented on #169
Works ✅

![image](https://user-images.githubusercontent.com/532845/90600265-93dd7980-e239-11ea-9dcb-b04b6e1ad9ba.png)

[2020-08-19 07:08] nickdos commented on #158
There are hard-coded English values, could you please convert them to i18n values, for LA installations.

[2020-09-08 04:07] Rita-C opened #174 "Incorrect unrecognised taxa number"
For instance, https://lists.ala.org.au/speciesListItem/list/dr15632 has 153 items and shows 144 `Unrecognised Taxa,`  the number of`Unrecognised Taxa` should be 9, as shown when clicking on `Unrecognised Taxa` link.

[2020-09-08 06:05] #148 closed

[2020-09-10 00:31] nickdos opened #175 "Browser back button does not work when viewing a list"
Testing in FireFox on Mac.

If you click through to a list from the home page and then try clicking the browser back button, the browser does not return to the full list of lists page.

This seems to be due to the individual list page triggering a redirect to itself and thus hitting the back button goes to previous viewing of the same page, which in turn triggers a reloading of the page (redirect)

[2020-09-16 01:53] Rita-C opened #176 "Update search place holder text"
to include new searchable fields added by #14

    supplied name
    matched scientific name
    matched GUID
    matched common name

[2020-09-17 00:17] Rita-C commented on #176
Hi @nickdos , I noticed the `search` place holder was not updated while showing the changes to Verity yesterday, I made the change locally (also changed the place holder for `find` on the species items page for consistency), as shown in the screen shots, are you happy with the wordings?

![Screen Shot 2020-09-16 at 5 29 36 pm](https://user-images.githubusercontent.com/29115246/93404860-ba411400-f8

[2020-09-18 02:50] Rita-C commented on #176
code review at https://upsource.ala.org.au/specieslist-webapp/review/SW-CR-7

[2020-10-23 00:47] Rita-C opened #177 "Search performance"
Short query caused poor performance, possible solutions:
- [ ]  enforce minimum size on search string
- [ ] remove `lower` on scientific_name
- [ ] add LIMIT to query

[2020-10-26 22:12] nickdos commented on #166
Tests passed  ✅

[2020-10-26 22:29] nickdos commented on #174
LGTM

[2020-10-26 22:30] nickdos opened #178 "Search query with leading/trailing space issue"
The search on home screen fails to find a list if you copy and paste in a value that has a leading space on it. E.g.
https://lists.ala.org.au/public/speciesLists?q=+Apoidea
vs
https://lists.ala.org.au/public/speciesLists?q=Apoidea
vs
https://lists.ala.org.au/public/speciesLists?q=Apoidea+

All 3 should return the same number of results.

Suggested that leading and tailing whitespace is removed usi

[2020-10-26 23:06] nickdos commented on #176
Code review done. Testing looks good to go.

[2020-10-30 00:16] #168 closed

[2020-11-02 23:02] Rita-C commented on #177
Note on "limit", there is one query to gather all qualified list items does not have `limit`, it fetches IDs from species_list_item that qualified, preparing a search in the parent species_list table, it’s like running a subquery first/separately.

[2020-11-05 00:13] nickdos commented on #178
Code QA'ed 👍

[2020-11-05 00:21] nickdos commented on #177
See code [comment](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/commit/c879d68ce42ed6a71532d8b647522d949f8f6fc6#r43886200) I made

[2020-11-05 01:06] nickdos commented on #177
Functionality all good on test site 👍

[2020-11-16 10:18] #178 closed

[2020-11-16 10:18] #176 closed

[2020-11-16 10:18] #174 closed

[2020-11-16 10:18] #166 closed

[2020-12-02 04:42] timhicks-ala opened #180 "Offset argument not cleared from URL when refining Lists search results"
To reproduce:

- https://lists.ala.org.au/public/speciesLists?q=epbc&max=25&sort=listName&order=asc&offset=25
- This is a search for lists containing "epbc", on page 2 of results (offset=25)
- Click "Conservation list (10)" or "List of sensitive species (2)" under "Refine Results"
- Search now erroneously shows "No species found" - URL is https://lists.ala.org.au/public/speciesLists?q=epbc&max=25&

[2020-12-10 01:31] nickdos opened #181 "View occurrence records button enhancement"
The `View occurrence records` button on a list page has 2 modes:
1. where the list is `authoritative ` and it generates a biocache query like `q=species_list_uid%3Adr7904`
2. non-authoritative lists, where a `qid` query is generated via a POST, e.g. `q=qid:1607563481400`

This enhancement is for the second case, where the `qid` has an expanded form of:

`q: "lsid:urn:lsid:biodiversity.org.au:afd.t

[2020-12-10 01:34] nickdos commented on #181
Code already does this for `qid` searches - @m-hope didn't get results probably due to having his list set as `authoritative`, which doesn't trigger the code for `qid`.

[2020-12-10 01:34] #181 closed

[2021-03-12 04:21] timhicks-ala opened #182 "Slow performance viewing large lists"
Viewing lists with large numbers of entries is quite slow, for example this one with over 3,000 items: https://lists.ala.org.au/speciesListItem/list/dr2505#list

It seems to be loading/querying all list items at once, rather than the ten shown by default on a single page. Loading this and other large lists takes long enough for Chrome to show a "Page unresponsive" warning - this includes the first

[2021-03-17 00:03] Rita-C commented on #175
Back button not working, it’s due to a line added in June 2019:
[code]
so clicking “back” button with hash part of the url only reloads list or grid view.

there is no ticket or reason I could see the reason behind the change.

[2021-03-17 00:16] nickdos commented on #175
Work-around (hack) could be to trigger `history.back()` after that line (101). Might not work but something easy to try?

[2021-03-24 03:13] Rita-C opened #183 "Upgrade auth-plugin"

[2021-04-13 06:45] #169 closed

[2021-04-13 06:46] #165 closed

[2021-04-13 06:47] #163 closed

[2021-04-13 06:47] #162 closed

[2021-04-13 06:47] #155 closed

[2021-04-13 06:48] #161 closed

[2021-04-13 06:48] #158 closed

[2021-04-13 06:48] #137 closed

[2021-04-13 06:49] #138 closed

[2021-04-13 06:49] #153 closed

[2021-04-13 06:49] #136 closed

[2021-04-13 06:49] #160 closed

[2021-04-13 06:50] #154 closed

[2021-04-13 06:50] #144 closed

[2021-04-13 06:51] #113 closed

[2021-04-13 06:51] #118 closed

[2021-04-13 06:52] #123 closed

[2021-04-13 06:53] #140 closed

[2021-04-13 06:56] #14 closed

[2021-04-15 00:40] Rita-C commented on #182
Investigated the issue, only 10 items (defined by per page) were returned on a single page. The page, however, queried the database on facets, total matched count, no-match count, distinct count, etc.

Firefox seemed quicker (7.93s) compares to Chrome (27.63s)

[2021-04-15 05:01] Rita-C commented on #180
Hi @nickdos can you please code review?

[2021-04-15 05:27] nickdos commented on #180
Done ✅

[2021-04-16 04:03] Rita-C commented on #180
Hi @nickdos , change deployed to lists-test, please QA

[2021-04-16 04:07] Rita-C commented on #183
@nickdos , can you please review and QA?

[2021-04-16 05:22] nickdos commented on #180
Pagination now not working as expected. Clicking to page 2, shows the results for page 2 but the pagination buttons are displayed as if it was page 1:

![image](https://user-images.githubusercontent.com/532845/114975438-975bfa00-9ec7-11eb-8cdf-54681d40832f.png)

[2021-04-16 05:40] nickdos commented on #183
Logged-in functions seems to work (alaAdmin, upload a list) - not sure what else to test. Lets leave it for functional test plan to cover...

[2021-04-16 06:40] Rita-C commented on #180
Please test again @nickdos

[2021-04-16 07:32] nickdos commented on #180
All good now ✅

[2021-04-19 01:58] nickdos opened #185 "`offset` param not cleared when different sort field is selected"
Related to #180 but slightly different. When the user clicks on a column heading to change the sort field, the results should be from page 1 (again). Currently the `offset` value is persisted between requests when sort field is changed.

E.g. view https://lists.ala.org.au/public/speciesLists, then click through to page 2 or 3. Now click a column heading to change the sort order to be for `Date sub

[2021-04-19 06:13] Rita-C commented on #185
Sorting (heading) field is implemented by `g:sortableColumn` `org.grails.plugins.web.taglib.UrlMappingTagLib`

`sortableColumn` directly access request.params, ignoring passed in params, seems to be a defect in the plugin:
[code]
The following code does NOT work:
[code]

[2021-04-19 08:16] nickdos commented on #120
Code needs to show `is private` to be ticked by default.

[2021-04-19 08:16] nickdos commented on #175
This is a priority if working on the code - such an annoying bug!

[2021-04-21 01:40] nickdos commented on #120
Checked on test site - all looks good ✅

[2021-04-21 01:42] nickdos commented on #175
CR and testing DONE.

[2021-04-27 07:29] #120 closed

[2021-04-27 07:29] #175 closed

[2021-04-27 07:29] #180 closed

[2021-04-27 07:30] #183 closed

[2021-07-01 15:13] shahmanash opened #187 "German word in en messages.properties file"
https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/develop/grails-app/i18n/messages.properties#L291
upload.lists.checkdata.map.warning=**Achtung**

[2021-10-05 06:37] Rita-C opened #189 "Upgrade to grails 4"

[2021-10-26 00:19] Rita-C opened #190 "Selecting multiple list types facets throws error"
https://lists.ala.org.au/public/speciesLists?q=test&max=25&sort=listName&order=asc&listType=eq%3ACONSERVATION_LIST&listType=eq%3ACONSERVATION_LIST

Steps to re-produce:
1. Go to `https://lists.ala.org.au/public/speciesLists`
2. Select "Conservation list" from the refine lists facets
3. Once the page is loaded, select another list type, e.g. "Test list" from the facets

Expected results:
Page loade

[2021-10-27 03:44] Rita-C opened #191 ""q=null" in removing filter URL caused incorrect list filtering results"
Steps to reproduce:
1. Go to `https://lists.ala.org.au/public/speciesLists`
2. Select "Conservation list" from the refine lists facets
3. Click "Conservation list"  to remove this filter

Expected results:
Filter removed, all [public] lists displayed

Actual results:

- Only some lists are displayed due to `&q=null` in the removing filter URL
- "null" as search text in the search input field

[2021-11-05 01:05] Rita-C commented on #182
Loading images from `images.ala.org.au` redirected to `s3` slows down page loading.

[2021-11-08 02:50] nickdos commented on #190
Code ✅

[2021-11-08 02:51] nickdos commented on #191
Code ✅

[2021-11-10 05:47] Rita-C opened #192 "View record details display not aligned"
![image (6)](https://user-images.githubusercontent.com/29115246/141057078-0d2ce99b-d094-49be-9cb2-f8babd5d4508.png)

[2021-11-11 22:22] nickdos opened #193 "Upload page showing German warning text"
On prod, when uploading a list, the warning text includes a German translation: `**Achtung** No species name column could be found`

![image](https://user-images.githubusercontent.com/532845/141377459-c763ca44-71eb-4cd6-9706-7b3814974828.png)

[2021-11-14 23:30] Rita-C commented on #193
same issue as #187?

[2021-11-14 23:41] nickdos commented on #193
Looks like same issue, yes.

[2021-11-15 04:48] Rita-C opened #195 "Replace local naming instance with naming service"

[2021-11-18 11:11] djtfmartin opened #196 "Pass API key in HTTP header rather than JSON Payload"
https://github.com/AtlasOfLivingAustralia/specieslist-webapp/blob/develop/grails-app/services/au/org/ala/specieslist/HelperService.groovy#L148

The code here is passing the API key in the JSON payload instead of the standard way - via an `apiKey` or  `Authorization` HTTP header.

Current Collectory supports both JSON payload and Header, but we want to standard to just use headers for auth credenti

[2021-11-22 04:23] nickdos commented on #182
Are the code changes for this on the `grails 4` branch?

[2021-11-22 04:26] nickdos commented on #193
Closing as dupe for #187

[2021-11-22 04:26] #193 closed

[2021-11-22 04:52] nickdos commented on #192
Code review covered by `grails 4` branch.

[2021-11-22 04:53] Rita-C commented on #182
yes

[2021-11-22 05:22] Rita-C opened #199 "Enhancement for the more accurate name match"
lists has been updated to use `namematching-ws.ala.org.au/` for name matching.

Enhancement to use user supplied other terms, including kingdom, phylum, class, order and possibly author as well as family. This will allow list users to be a bit more accurate.

[2021-11-23 05:31] charvolant commented on #199
Possible names for higher-order things like family, etc.

kingdom: regnum
phylum: divisio, division
class: classis, clazz, class_, classs
order: ordo
family: familia
genus: genericEpithet, generic epithet

[2021-11-23 22:47] charvolant commented on #199
Example lists with additional ranks

https://lists.ala.org.au/speciesListItem/list/dr5363
https://lists.ala.org.au/speciesListItem/list/dr4778
https://lists.ala.org.au/speciesListItem/list/dr17880
https://lists.ala.org.au/speciesListItem/list/dr7933 - this feeds into the name index and contains higer taxonomy for that reason
https://lists.ala.org.au/speciesListItem/list/dr487

[2021-12-02 03:10] Rita-C commented on #199
deployed to lists-test @nickdos , @charvolant .

[2021-12-06 00:19] nickdos commented on #199
Did you mean to close the issue as well as the PR? Issue is still in QA column...

[2021-12-06 01:26] Rita-C commented on #199
Think merging PR closed the issue, reopened.

[2021-12-06 03:54] charvolant commented on #199
[ALA_Common_Names.csv](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/7657819/ALA_Common_Names.csv)

Does not seem to load properly. `Unable to parse species list data: String index out of range: 0` I'm not sure if this is a pre-existing bug or not.

[ALA_Additional_Taxa.csv](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/7657825/ALA_Additional_Taxa.csv)

Lo

[2021-12-06 04:17] Rita-C commented on #199
Thanks @charvolant , deleting the empty column between "status" and "temporal" in ALA_Common_Names.csv fixed the problem.

[2021-12-06 04:54] charvolant commented on #199
Oopsie

[2021-12-06 23:41] nickdos commented on #192
Looks good on test

[2021-12-06 23:42] nickdos commented on #187
Duplicate for #193

[2021-12-06 23:43] nickdos commented on #187
Looks good on test.

[2021-12-06 23:44] nickdos commented on #191
LGTM on test

[2021-12-06 23:45] nickdos commented on #190
LG on test

[2021-12-06 23:45] nickdos commented on #189
Final smoke tests will be the QA for this issue - moving to RFC

[2021-12-07 00:04] nickdos commented on #189
Fieldguide download results in empty PDF.

[2021-12-07 00:09] nickdos opened #201 "Grails 4: Field guide download returns empty PDF on test"
View a list on test site: https://lists-test.ala.org.au/speciesListItem/list/dr12238

click download button at top, then select the "download species field guide" option. Resulting PDF has no species listed. Same list on prod shows profiles for species.

[2021-12-08 05:37] Rita-C commented on #201
on test:
[code]

on prod:
[code]

[2021-12-08 05:38] Rita-C commented on #201
mysql on test:
[code]

mysql on prod:
[code]

[2021-12-08 05:43] Rita-C commented on #201
error on fieldguide (calling `https://fieldguide.ala.org.au/generate` with `guids` as POST body)
[code]

[2021-12-08 23:14] nickdos commented on #201
UTF-8 is preferred. Prod DB is so old so probably has just been copied over for last 8-10 years.

[2021-12-08 23:51] Rita-C opened #202 "Update rematch all"

[2021-12-13 23:20] Rita-C commented on #201
Re-matched the list, field guide pdf was generated after rematch.

[2021-12-15 03:50] Rita-C commented on #202
Tried rematch all, which included 2,471 lists, 1,625,800 lists items from local machine to name matching service, errors occurred:
[code]

[2021-12-17 01:33] Rita-C commented on #202
cc @charvolant
Run Grails async version of rematch all, errors in log:
[code]

[2022-01-04 10:39] vjrj opened #203 "Missing 'master' branch"
Currently there isn't a  `master` branch in this repository so our ala-i18n task is failing. Can we add a conventional `master` branch?

Thanks

[2022-01-19 17:05] vjrj commented on #203
cc @Rita-C TIA!

[2022-01-19 23:44] Rita-C commented on #203
Thanks for letting us know @vjrj . @matthewandrews has restored the master branch.

[2022-01-21 07:07] vjrj commented on #203
Thanks indeed @Rita-C and @matthewandrews

[2022-01-21 07:07] #203 closed

[2022-03-07 23:04] Rita-C commented on #201
@nickdos, could you re-test this please?

[2022-03-07 23:07] Rita-C commented on #202
Run rematch-all, looks good. @charvolant , can you also check some records please?

[2022-03-07 23:35] Rita-C commented on #202
@charvolant also checked - ok.

[2022-03-08 07:51] nickdos commented on #201
works for me now ✅

[2022-04-04 01:32] Rita-C opened #205 "Upload csv file from windows machine does not work"
Steps to produce:
On a windows computer
1. Login to lists.ala.org.au, click "upload a list" button
2. Use option 1 - select a CSV file to upload, select a file then check data

Expected result:
File accepted

Actually result:
"Invalid file type" error displayed.

[2022-04-14 00:21] charvolant opened #206 "Display/retrieve an individual list item"
For example,

https://https://lists.ala.org.au/speciesListItem/show/2148024 would show an indivudal element of the list in a web page and https://https://lists.ala.org.au/ws/speciesListItem/2148024 would return equivalent JSON. Both would need links to the parent list and other useful information.

This would allow species names in the names list derived from lists to be accurately linked.

[2022-05-18 04:13] sughics commented on #135
Removed usage of the `concat` in the SQL query used get derived value for owner full name.
The owner's full name for display is now generated  in the view template instead and the list is sorted using just firstName feild  as mentioned in this [comment](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/issues/10#issuecomment-67443411) is issue  #10

[2022-05-18 06:44] sughics commented on #128
Duplicate of #192 which has been resolved and ready for CAB

[2022-05-18 06:46] sughics commented on #128
Closing this as it has been resolved in #192

[2022-05-18 06:46] #128 closed

[2022-05-24 07:01] sughics commented on #127
Also fixed related issue mentioned below:
Some lists seem to have duplicate columns  - not sure if this was intentionally added by user during upload or result of a faulty download  e.g.  https://lists-test.ala.org.au/speciesListItem/list/drt1574809264463

When a list like above is downloaded, the downloaded csv file also includes duplicate columns and is a lot more obvious: [Oryza_v3.5.1_testing

[2022-05-25 01:52] sughics opened #209 "Updating attribute values for a species list item seems to remove the value upon update"
In the screenshot below, the pca1 attribute has been updated to `5.33`
![Screen Shot 2022-05-25 at 11 45 30 am](https://user-images.githubusercontent.com/105408469/170161786-0b711d3c-e9fb-4b66-94e3-54786e8e7485.png)

Once the changes are saved and the page is reloaded, the value is no longer there (ield  is empty):
![Screen Shot 2022-05-25 at 11 47 12 am](https://user-images.githubusercontent.com/

[2022-07-21 05:06] #201 closed

[2022-07-21 05:07] #202 closed

[2022-07-21 05:07] #189 closed

[2022-07-21 05:07] #190 closed, assigned to Rita-C

[2022-07-21 05:07] #191 closed

[2022-07-21 05:07] #187 closed

[2022-07-21 05:07] #192 closed

[2022-07-21 05:07] #182 closed

[2022-07-21 05:07] #199 closed

[2022-07-21 05:07] #195 closed

[2022-07-26 02:57] peggynewman opened #211 "Name matching producing unexpected results"
A SOLR index build has revealed issues with matching on some lists returning unexpected results

* [Climatewatch Birds](https://collections.ala.org.au/public/show/dr785) (eg returns Australian Magpie as Woodswallows)
* [Category 1 Pathogen Pests](https://collections.ala.org.au/public/show/dr872)
* [High Priority Pest list - Industry Biosecurity Plans](https://collections.ala.org.au/public/show/dr1

[2022-07-26 05:25] charvolant commented on #211
For dr785 and dr769:

The list items don’t appear to distinguish between previously matched family/kingdom and a supplied family/kingdom. So the request goes out as kingdom=Animalia, family=Rhipiduridae and scientificName=“Willie Wagtail”. A higher-order match is done on the higher order family and hilarity ensues.

[2022-07-26 06:49] peggynewman commented on #211
dr872 and dr1787 weren't included in the list downloader.

[2022-07-27 00:27] patkyn opened #212 "Authoritative list seems to be returning 69 records vs 71"
https://lists.ala.org.au/ws/speciesList?isAuthoritative=eq:true&max=1000 seems to be returning inconsistent results. There should be 71 lists but it has been returning 69 lists instead. This has caused some speciesList to disappear, mainly affecting, dr872 and dr1787 so far.

![image](https://user-images.githubusercontent.com/1606595/181132442-7f61ccfa-caef-4c96-8b53-97dc52727840.png)

![image](ht

[2022-07-28 02:56] sughics opened #213 "OIDC Integration"
- Migrate to Java 11.
 - OIDC Integration
 - Open API Specs

[2022-08-15 05:00] sughics commented on #213
Function testing document: https://confluence.csiro.au/display/ALASD/Species+lists+testing for application version 4.0.1-SNAPSHOT

[2022-08-17 07:17] TaniaGLaity commented on #213
undertook UIA  - passed apart from know issues with test pointing to spatial prod

[ListsUI testing Aug22.docx](https://github.com/AtlasOfLivingAustralia/specieslist-webapp/files/9357290/ListsUI.testing.Aug22.docx)

[2022-08-19 07:17] sughics commented on #213
Currently holding back on deployment due to ws authentication backwards compatibility issue found during functional testing with BioCollect. Bruce H in the process of implementation a solution in ala-ws-security-plugin

[2022-08-22 08:06] sughics opened #217 "Update handling of saveList() ws authentication to handle legacy requests from BioCollect and new requests using JWT"

[2022-08-23 04:42] sughics commented on #217
Issue addressed by 4.1.2 ala-ws-security plugin.

[2022-08-23 04:42] #217 closed

[2022-08-25 02:40] sughics commented on #213
OIDC changes now deployed

[2022-08-25 02:40] #213 closed

[2022-08-25 03:35] TaniaGLaity commented on #213
Great ta

From: Sushant G ***@***.***>
Sent: Thursday, 25 August 2022 12:41 PM
To: AtlasOfLivingAustralia/specieslist-webapp ***@***.***>
Cc: Laity, Tania (NCMI, Black Mountain) ***@***.***>; Assign ***@***.***>
Subject: Re: [AtlasOfLivingAustralia/specieslist-webapp] OIDC Integration (Issue #213)

OIDC changes now deployed

—
Reply to this email directly, view it on GitHub<https://github.com/Atla

[2022-08-30 00:48] sat01a opened #220 "Species List Security vulnerabilities"
EDIT: Addressed and deployed as part of 4.0.2 release.

Two vulnerabilities were discovered in species list recently during testing and upgrades.

- CHECK EMAIL - functionality and data provided by `/ws/checkEmailExists` is returning info on users if a valid email address provided for user in our userdetails database . This is available for  anyone who requests the resource (no auth required).

 -

[2022-09-02 06:31] #220 closed

[2022-09-02 06:32] sughics commented on #220
Fixe and released with 4.0.2

[2022-09-29 02:13] charvolant opened #221 "Species list web items does not return the entire list"
Trying to get KVP values from a list results in a truncated list. Also, offset/max doesn’t seem to be honoured except in strange ways. Eg. https://lists.ala.org.au/ws/speciesListItems/dr2201?includeKVP=true returns 38 items for a 4200 element list, and trying things like https://lists.ala.org.au/ws/speciesListItems/dr2201?includeKVP=true&max=100&offset=0 only returns 10 elements.

[2022-09-30 02:39] sughics opened #222 "Lists deletion Issues"
Address user-reported list deletion issues

[2022-10-04 22:41] sughics commented on #222
Released with 4.0.3

[2022-10-04 22:41] #222 closed

[2022-10-18 00:22] sat01a opened #225 "Intermittent lists load issue for ALA Admin users"
If the user has admin role, sometimes it tends to take a while to load a list item. I will need to investigate further to see whats happening.

[2022-10-25 00:08] sughics opened #226 "Investigate whether sestitive flags on a list can only be set by ROLE_ADMIN users."
Only ROLE_ADMIN users must be able to set Sentitive data  flags i.e `Authoritative`, `Invasive`, `Threatened `, and `Part of the sensitive data service` on a species list

[2022-10-25 04:15] sat01a commented on #226
Checked with @peggynewman, closing the issue

[2022-10-25 04:15] #226 closed

[2022-11-10 23:01] sat01a opened #229 "Determine apps that consumes "Species Lists Items" web service with unlimited payload data"

[2022-11-10 23:18] sughics commented on #225
Released in 4.0.4

[2022-11-11 00:56] adam-collins commented on #221
Fixed in the release done earlier in the week.

[2022-11-11 00:56] adam-collins commented on #229
https://github.com/AtlasOfLivingAustralia/specieslist-webapp/issues/221

[2022-11-11 00:57] adam-collins commented on #212
Species was updated. The webservice is returning 71 records today.

[2022-11-11 00:57] #212 closed

[2022-11-11 00:59] adam-collins commented on #229
https://github.com/AtlasOfLivingAustralia/ala-bie-hub/issues/16

[2022-11-22 06:10] sat01a opened #230 "Lists returns different sets based on query parameter order"
This query returns an expected list of state and national conservation lists:

https://lists.ala.org.au/public/speciesLists?&max=25&sort=listName&order=asc&listType=eq:CONSERVATION_LIST&isThreatened=eq:true&isAuthoritative=eq:true

This query returns a weird mix of private lists and unwanted results:

https://lists.ala.org.au/public/speciesLists?&max=25&sort=listName&order=asc&isAuthoritative=eq:t

[2022-11-22 06:11] sat01a commented on #230
Added to the board - (cc @peggynewman )